<div *ngIf="!details">
  <div class="container">
    <div class="row" style="border-bottom: 2px solid #efefef; z-index: 0;">
      <h1 class="page-title" style="white-space: nowrap; padding-top: 50px; padding-left: 50px; padding-bottom: 26px; margin-bottom: 0px">Meine Rechnungen</h1>
    </div>
    <p *ngIf="invoices.length === 0" style="font-size: 20px; padding-top: 40px; text-align: center">Es konnten keine Rechnungen gefunden werden.</p>
    <div class="row" *ngIf="invoices" style="padding-left: 50px; padding-right: 50px">
      <div class="table-wrapper-scroll-y my-custom-scrollbar" style="width: 100%">
        <table class="table table-responsive-lg table-hover mb-0">
          <tbody>
          <tr *ngFor="let invoice1 of invoices">
            <div class="container pt-3 pb-3" style="border-bottom: 1px solid #dee2e6">
              <div class="row">
                <div class="col" style="padding-top: 12px" *ngIf="invoice1.invoice_category.startsWith('TICKET')" >
                  <a style="font-size: 18px">{{'Ticket ' + invoice1.invoice_type}}, {{ invoice1.tickets[0].eventName }} </a>
                </div>
                <div class="col" style="padding-top: 12px" *ngIf="invoice1.invoice_category.startsWith('MERCH')">
                  <a style="font-size: 18px">{{'Merchandise ' + invoice1.invoice_type}}, {{ invoice1.merchandise_code}}</a>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px;"  (click) = "showInvoiceDetails(invoice1)">
                    Anzeigen </button>
                </div>
              </div>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf= "invoices === undefined" style="padding-left: 50px; padding-right: 50px; padding-top: 20px">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<app-invoice-details *ngIf="details" [invoice] = "selectedInvoice" [merchandise] = "merchandise">
  <button type="button" class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px; text-align: center;" (click)="details=false;">Zurück</button>
</app-invoice-details>
