<div *ngIf="!details">
<h1 class="col-5 page-title" style="white-space: nowrap; padding-top: 50px; padding-left: 50px">Meine Rechnungen</h1>

<div class="center-block">
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label"></div>
      <div class="info-field">
        <div class="center-block" *ngIf="invoices">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-responsive-lg table-hover mb-0">
              <tbody>
              <tr *ngFor="let invoice1 of invoices">
                <th scope="row"> </th>
                <td *ngIf="invoice1.invoice_category.startsWith('Ticket')" > {{invoice1.invoice_category.slice(0,6)}} {{invoice1.invoice_type}}, {{ invoice1.tickets[0].eventName }} </td>
                <td *ngIf="invoice1.invoice_category.startsWith('Merch')"  > {{invoice1.invoice_category.slice(0,11)}} {{invoice1.invoice_type}}, {{ invoice1.merchandise_code}} </td>
                <button type="button" class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px; margin-right: 10px;"  (click) = "showInvoiceDetails(invoice1)">
                  Anzeigen </button>
                <button type="button" class="btn btn-outline-primary" style="white-space: nowrap; border-radius: 10px; padding-right: 30px; text-align: center;" (click) = "printInvoice(invoice1)" >
                  PDF </button>
              </tr>
              </tbody>

            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="details">
  <app-invoice-details [invoice] = "selectedInvoice" >
    <button type="button" class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px; text-align: center;" (click)="details=false;">Zurück</button>
  </app-invoice-details>
</div>
