:host {
  display: block;
}

.edit-form-field {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.edit-form-field:first-child {
  margin-top: 5px;
}

.icons {
  padding-right: 8px;
  padding-top: 15px;
}

.icons:first-child {
  padding-top: 12px;
}

.mat-form-field {
  font-family: SansSerif, sans-serif;
  width: 100%;
  height: 64px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #444444;
  padding-right: 35px;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-around !important;
  padding: 30px 0;
  width: 100%;
}



