<app-error-notification *ngIf="error" [error]="error"></app-error-notification>

<form [formGroup]="secondFormGroup" *ngIf="tickets && event && show">
  <div class="container">
    <!-- page title -->
    <div class="page-title">Zahlungsübersicht</div>
    <!-- details to Event and ticket -->
    <div class="container ticket-details">
      <div class="row">
        <h5 class="element-title">Veranstaltung: </h5>
        <p>{{event.name}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Künstler(in): </h5>
        <div *ngFor="let artist of event.artists">
          <p>{{artist.firstName}} {{artist.lastName}}</p>
        </div>
      </div>
      <div class="row">
        <h5 class="element-title">Aufführungszeitpunkt: </h5>
        <p>{{formatDate(show.startsAt)}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Veranstaltungsort: </h5>
        <p>{{show.eventLocation.name}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Stadt:</h5>
        <p>{{show.eventLocation.city}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Adresse:</h5>
        <p>{{show.eventLocation.street}}, {{show.eventLocation.plz}} {{show.eventLocation.city}}, {{show.eventLocation.country}}</p>
      </div>
      <div class="row" *ngIf="this.tickets">
        <h5 class="element-title">Sitzplätze:</h5>
        <div>
          <p *ngFor="let ticket of tickets">Sektor {{getSectionNameById(this.ticket.seat.sectionId)}}, Reihe {{this.ticket.seat.seatRow}}, Platz {{this.ticket.seat.seatColumn}}</p>
        </div>
      </div>
    </div>
    <!-- payment title -->
    <div class="payment-method-title">
      Zahlungsmethode
    </div>

    <div class="container-fluid payment-method col-xl-5 col-lg-5 col-md-5 col-sm-12">
      <mat-select formControlName="paymentmethod" placeholder="Wähle Bezahlungsmethode" class="form-control payment-method-form" required>
        <mat-option [value]="'creditcard'">Kredit-/Debitkarte</mat-option>
        <mat-option [value]="'paypal'">Paypal</mat-option>
      </mat-select>
    </div>
    <!--<button type="button" mat-button matStepperNext class="btn btn-success" (click)="completePurchase()">Jetzt zahlen</button>-->
    <div class="row button-row">
      <button class="buy-button row ml-auto align-items-center align-self-end" data-toggle="modal" data-target="#purchase-modal"><div class="col button-font">Jetzt zahlen</div></button>
    </div>

    <!-- Modal (Pop up when clicking purchase) -->
    <div class="modal fade" id="purchase-modal" role="dialog" aria-labelledby="purchase-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="purchase-modal-label">
              Willst du dieses Ticket kaufen?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-secondary btn" data-dismiss="modal">Abbrechen</button>
            <button matStepperNext (click)="completePurchase()" type="button" class="btn-primary btn" data-dismiss="modal">Ja</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
