<div class="wrapper all-height">
  <div class="administration-content-wrapper all-height">
    <div class="administration-title-wrapper">
      <div class="administration-line">
        <div class="administration-title">
          <span *ngIf="globals.getChoosenTab === 'users'">Users</span>
          <span *ngIf="globals.getChoosenTab === 'events'">Events</span>
          <span *ngIf="globals.getChoosenTab === 'news'">News</span>
        </div>
      </div>
    </div>

    <!--TABS-->
    <div class="administration-wrapper">
      <div class="administration-tabs">
        <app-admin-side-menu></app-admin-side-menu>
      </div>

      <div class="administration-content all-height"
           *ngIf="globals.getChoosenTab === 'users'">
        <app-users-tab class="all-height"></app-users-tab>
      </div>

      <div class="administration-content"
           *ngIf="globals.getChoosenTab === 'events'">
        <app-events-tab class="all-height"></app-events-tab>
      </div>

      <div class="administration-content"
           *ngIf="globals.getChoosenTab === 'news'">
        <app-news-tab class="all-height"></app-news-tab>
      </div>

    </div>
  </div>
</div>
