<app-error-notification *ngIf="error" [error]="error"></app-error-notification>

<form [formGroup]="firstFormGroup" *ngIf="eventLocation">
  <div class="container">
    <!-- page subtitle -->
    <div class="page-subtitle">Tickets auswählen</div>
    <div class="row">
      <!-- Seat Plan -->
      <div class="col-7">
        <img class="img-fluid" src="assets/images/seatplan.png" style="width:auto; height:auto">
      </div>
      <!-- Ticket Info and/or Selection -->
      <div class="col">
        <!-- Number of Tickets Selection -->
        <div class="row">
          <div class="choosing-title align-items-center row">Anzahl der Tickets</div>
          <mat-select class="form-control numberOfTickets"  formControlName="count" required>
            <mat-option value="1"> 1 </mat-option>
            <mat-option value="2"> 2 </mat-option>
            <mat-option value="3"> 3 </mat-option>
            <mat-option value="4"> 4 </mat-option>
            <mat-option value="5"> 5 </mat-option>
          </mat-select>
        </div>
        <!-- Section and Seat Title -->
        <div class="gap"></div>
        <div class="choosing-title align-items-center row">Sitzplätze</div>
        <!-- Section and Seat Info and/or Selection -->
        <div class="container seat-select-container">
          <div class="row selecting-row align-items-center">
            <div class="choosing-subtitle align-items-center row">Sektion</div>
            <mat-select class="form-control section-select" formControlName="section" required>
              <mat-option *ngFor="let section of eventLocation.sections" [value]="section">
                {{section.sectionName}}
              </mat-option>
            </mat-select>
          </div>
          <div class="row selecting-row align-items-center">
            <div class="choosing-subtitle align-items-center row">Seat</div>
            <mat-select [disabled]="!this.firstFormGroup.value.section.seats" class="form-control seat-select" formControlName="seat" required>
              <mat-option *ngFor="let seat of firstFormGroup.value.section.seats" [value]="seat">
                {{seat.seatRow}}{{seat.seatColumn}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <!-- Price Overview -->
        <div class="price-title align-items-center row">
          Preis:
          <div *ngIf="this.firstFormGroup.value.seat" class="gap">{{this.firstFormGroup.value.seat.price}} EUR</div>
          <div *ngIf="!this.firstFormGroup.value.seat" class="gap">0 EUR</div>
        </div>
        <!-- Purchase/Reserve Buttons -->
        <button matStepperNext (click)="nextStep()" class="buy-button row align-items-center btn"><div class="col button-font">Jetzt kaufen</div></button>
        <button class="reserve-button row align-items-center btn" data-toggle="modal" data-target="#exampleModal"><div class="col button-font">Reservieren</div></button>


        <!-- Modal (Pop up when clicking reserve) -->
        <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Willst du dieses Ticket reservieren?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn-secondary btn" data-dismiss="modal">Abbrechen</button>
                <button matStepperNext (click)="reserve()" type="button" class="btn-primary btn" data-dismiss="modal">Ja</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
