.h-divider{
  margin-top:140px;
  margin-bottom:40px;
  height:1px;
  width:100%;
  border-top:1px solid;
  border-color: #707070;
  color: #707070;
}

.card ,
.card-body {
  background-color: #FBFBFB;
  border-radius: 0px 0px 20px 20px;
}

.form-control {
  margin-bottom: 5px;
  height: 50px;
}

.btn.default {
  width: 100%;
  margin-top: 50px;
}

a {
  margin-top: 10px;
  font-size: 16px;
}

label {
  font-size: 20px;
}
