/* Modify the background color */

.navbar-custom {
  background-color: #2771BB;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  text-align: center;
}

a {
  color: #FBFBFB;
  margin-left: 5px;
  margin-right: 5px;
}

li {
  width: 100%;
}

.navbar-brand {
  font-size: 40px;
}

.nav-link {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}

.nav-link:hover {
  cursor: pointer;
  color: #ffffff;
}

.navbar-custom {
  min-height: 160px;
  box-shadow: 0px 3px 6px #00000029;
}

.btn {
  border: 2px solid #FBFBFB;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 0px;
}

.divider {
  border-color: #FBFBFB;
  border-style: solid;
  border-width: 0.5px;
  height: 46px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 30%;
}

.header-row {
  padding: 0px 20px 15px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-row {
  padding: 0px 20px 20px 20px;
}

.navbar-header {
  width: 100%;
}

.left {
  height: 75px;
  width: 100%;
  border: 0px;
}

.right {
  float: right;
  width: 75px;
  height: 75px;
  border: 0px;
}

.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-toggler {
  margin-top: 30px;
  padding: 0;
}

.navbar-toggler-icon {
  color: white;
  width: 100%;
  height: 18px;
}

.login-button {
  font-size: 18px;
  margin-top: 33px;
}

.form-control {
  background-color: white;
  text-indent: 10px;
  border-radius: 0px;
  margin: 0px;
  font-size: 20px;
  font-weight: lighter;
  height: 75px;
}

.btn-sm {
  font-size: 18px;
  color: white;
  background-color: #43B581;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.fa-search {
  color: white;
}

.logout {
  background-color:transparent;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.logout:hover {
  background-color:#0E2E62;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.fa-sign-out-alt {
  color: #FBFBFB;
  font-size: 20px;
  margin-left: -3px;
}

.entity-row {
  margin: 0;
}

.entity-row:hover {
  cursor: pointer;
  background-color: #E6EBEA;
}

.entity-term {
  margin: -1px 0 0;
  background-color: white;
  width: 100%;
  color: black;
  height: 75px;
  border: 1px #c1c1c1 solid;
  padding: 25px;
  font-size: 20px;
  z-index: 99999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entity-term:hover {
  background-color: #E6EBEA;
}


/*Mobile screen*/
@media screen and (max-width: 991px) {
  a.nav-link:hover {
    background-color: #0E2E62;
    margin-left: 5px;
    margin-right: 5px;
  }

  .form-inline {
    max-width: 1000px;
    width: 100%;
    max-height: 75px;
    margin-bottom: 20px;
  }

  .input-group {
    min-width: 100px;
    max-width: 1000px;
    width: 100%;
    max-height: 75px;
  }

  .navbar-brand {
    padding-top: 45px;
  }

  .navbar-nav {
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .navbar-header {
    margin-top: 5px;
  }


}

/*Bigger screens*/
@media screen and (min-width: 992px) {
  a {
    color: #FBFBFB;
    margin-left: 0px;
    margin-right: 0px;
  }

  a.nav-link:hover {
    color: #0E2E62;
  }

  .form-inline {
    padding-left: 75px;
    width: 60%;
    padding-right: 25px;
    height: 75px;
  }

  .input-group {
    min-width: 100px;
    max-width: 1000px;
    width: 100%;
    height: 75px;
  }

  .navbar-nav {
    padding-bottom: 0px;
    padding-right: 40px;
  }

  .navbar-custom {
    padding-top: 40px;
  }

  .ml-lg-5, .mx-lg-5 {
    margin-left: 0;
  }

  img {
    max-width: 4%;
    height: auto;
    margin-left: 1.5%;
  }

  .navbar-brand {
    margin-left: 0px;
  }
}

img {
  cursor: pointer;
}
