
<!--Mobile Navbar -->
<nav class="navbar-custom navbar-expand-lg" *ngIf="isMobileLayout">
  <div class="container-fluid">
    <div class="row header-row">
      <div class="navbar-header">
        <div class="row">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContentMobile" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon fas fa-bars"></span>
          </button>
          <div class= "col">
            <a class="navbar-brand ml-lg-5" routerLink="/home">Ticketline</a>

          </div>
          <div class="col text-right" style="margin-top: 36px; padding-right: 0px; ">
            <button class="btn btn.default logout" routerLink="/" (click)="authService.logoutUser()" >
              <span class="fas fa-sign-out-alt"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="collapse navbar-collapse" id="navbarSupportedContentMobile" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ml-auto  align-items-center">
          <li><a class="nav-link font-weight-lighter" routerLink="/search" (click)="searchEntity('', searchedEntity.EVENT)">Events</a></li>
          <li><a class="nav-link font-weight-lighter" routerLink="/news-list">News</a></li>
          <li><a class="nav-link font-weight-lighter" routerLink="/merchandise">Merch</a></li>
          <li><a class="nav-link font-weight-lighter" routerLink="/faq">FAQ</a></li>
          <li><a class="nav-link font-weight-lighter" routerLink="/my-profile">Konto</a></li>
        </ul>
      </div>
    </div>
    <div class="row search-row">
      <form class="form-inline my-3 my-xl-0">
        <div class="input-group" >
          <div class="container" style="max-width: 1000px; width: 100%;">
            <div class="row" style="width: 100%; margin: 0">
              <div class="col" style="padding: 0; margin: 0;">
                <input class="form-control left" (keyup)="refreshSearchTerm($event)" (keyup.enter)="searchShared.searchEntity = searchedEntity.EVENT; searchEntity(searchTerm, searchedEntity.EVENT)" [ngModel]="searchTerm" autocomplete="off" name="term" type="text" placeholder="Veranstaltung suchen..." aria-label="Search">
              </div>
              <div class="col" style="padding: 0; margin: 0; max-width: 75px;">
                <div class="input-group-append" style="width: 75px;">
                  <button class="btn btn-sm right" type="submit" (click)="searchEntity(searchTerm, searchedEntity.EVENT)"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="row entity-row" (click)="searchEntity(searchTerm, searchedEntity.ARTIST)" *ngIf="isSearchActive" style="margin: 0">
              <a class="entity-term">
                {{searchTerm}} in <b>Künstlern</b> suchen
              </a>
            </div>
            <div class="row entity-row" (click)="searchEntity(searchTerm, searchedEntity.LOCATION)" *ngIf="isSearchActive" style="margin: -1px 0 0;">
              <a class="entity-term">
                {{searchTerm}} in <b>Orten</b> suchen
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>



<!--Navbar for screens bigger than 1000px-->
<nav class="navbar-custom navbar-expand-lg" *ngIf="!isMobileLayout">
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon fas fa-bars" style="color: white;"><i class=""></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <img src="assets/images/logo-01.png" alt="" (click) = "this.router.navigate(['/home']);">
    <a class="navbar-brand " routerLink="/home" style="padding-top: 12px; font-size: 45px; margin-left: -12px">icketline</a>
    <form class="form-inline">
      <div class="input-group" >
        <div class="container" style="width: 100%;">
          <div class="row" style="width: 100%; margin: 0">
            <div class="col" style="padding: 0; margin: 0;">
              <input class="form-control left" (keyup)="refreshSearchTerm($event)" (keyup.enter)="searchShared.searchEntity = searchedEntity.EVENT; searchEntity(searchTerm, searchedEntity.EVENT)" [ngModel]="searchTerm" autocomplete="off" name="term" type="text" placeholder="Veranstaltung suchen..." aria-label="Search">
            </div>
            <div class="col" style="padding: 0; margin: 0; max-width: 75px;">
              <div class="input-group-append" style="width: 75px;">
                <button class="btn btn-sm right" type="submit" (click)="searchEntity(searchTerm, searchedEntity.EVENT)"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
          <div class="row entity-row" (click)="searchEntity(searchTerm, searchedEntity.ARTIST)" *ngIf="isSearchActive">
            <a class="entity-term">
              {{searchTerm}} in <b>Künstlern</b> suchen
            </a>
          </div>
          <div class="row entity-row" (click)="searchEntity(searchTerm, searchedEntity.LOCATION)" *ngIf="isSearchActive">
            <a class="entity-term">
              {{searchTerm}} in <b>Orten</b> suchen
            </a>
          </div>
        </div>
      </div>
    </form>
    <ul class="navbar-nav ml-auto  align-items-center">
      <li><a class="nav-link font-weight-lighter" routerLink="/search" (click)="searchEntity('', searchedEntity.EVENT)">Events</a></li>
      <li class="divider"></li>
      <li><a class="nav-link font-weight-lighter" routerLink="/news-list">News</a></li>
      <li class="divider"></li>
      <li><a class="nav-link font-weight-lighter" routerLink="/merchandise">Merch</a></li>
      <li class="divider"></li>
      <li><a class="nav-link font-weight-lighter" routerLink="/faq">FAQ</a></li>
      <li class="divider"></li>
      <li><a class="nav-link font-weight-lighter" routerLink="/my-profile">Konto</a></li>
    </ul>
    <div style="padding-right: 50px;">
      <button class="btn btn.default logout" routerLink="/" (click)="authService.logoutUser()" >
        <span class="fas fa-sign-out-alt"></span>
      </button>
    </div>
  </div>
</nav>
