<div *ngIf="events">

  <div class="row mx-auto" style="padding: 0px">
    <div *ngFor="let i of [0,1,2]"
         class="col-4">
      <div class="top-three-element zoom">
        <div class="card img-container">
          <img class="img-fluid top-three-image" src="{{events[i].photo}}">
          <div class="img-overlay"></div>
          <div class='img-footer'>
            <div class="row">
              <h2 class="top-three-rank">#{{i+1}}</h2>
              <h3 class="top-three-name">{{events[i].name}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top: 50px;">
    <div *ngFor="let i of [3,4,5,6,7,8,9]"
         class="zoom"
         style="padding:80px 30px 0px 30px">
      <div class="card" style="padding: 0px 15px 0px 15px; background-color: white">
        <div class="row align-items-center">
          <div class="col-sm">
            <div class="row">
              <h1 class="bottom-rank">#{{i+1}}</h1>
              <h2 class="bottom-name">{{events[i].name}}</h2>
            </div>
          </div>
            <div class="zoom col-3 card">
              <img class="img-fluid bottom-image" src="{{events[i].photo}}">
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
