<div class="row" style="margin-left: 30px; margin-right: 30px">
  <div *ngFor="let i of topThreeIndices"
       class="col-4">
    <div class="top-three-element zoom" routerLink="/events/{{events[i].eventCode}}">
      <div class="card img-container">
        <img class="img-fluid top-three-image" src="{{events[i].photo}}">
        <div class="img-overlay"></div>
        <div class='img-footer'>
          <div class="row" style="height: 100%">
            <div class="col-2">
              <h2 class="top-three-rank">#{{i+1}}</h2>
            </div>
            <div class="col-10" style="padding: 5px 30px 0px 10px;">
              <h3 class="top-three-name">{{events[i].name}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 50px;">
  <div *ngFor="let i of topTenIndices"
       class="zoom bottom-zoom"
       style="margin:80px 60px 0px 60px"
       routerLink="/events/{{events[i].eventCode}}">
    <div class="container">
      <div class="row" style="height: 120px">
        <div class="col-9" style="padding: 0">
          <div class="card" style="padding: 0px 15px 0px 15px; height: 120px; margin-top: 10px; background-color: white">
            <div class="row align-items-center">
              <div class="col-sm">
                <div class="row" style="padding-top: 40px">
                  <h1 class="bottom-rank col-2">#{{i+1}}</h1>
                  <h2 class="bottom-name col prevent-overflow-inline" style="margin-left: -35px; padding-top: 2px">{{events[i].name}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" style="padding: 0">
          <div class="zoom card">
            <img class="img-fluid bottom-image" src="{{events[i].photo}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 80px; padding-bottom: 50px">
  <div class="container">
    <div class="row justify-content-center">
      <button class="btn default font-weight-bold" routerLink="/search" (click)="searchEntity('', searchedEntity.EVENT)">Mehr Events</button>
    </div>
  </div>
</div>
