<div *ngIf="unseenNews">
  <div class="title-button" routerLink="/top-ten-events">
    <div class="row col-12">
      <h1 class="title-headline">Aktuelle News</h1>
      <h5 class="title-hover"><i class="fa fa-caret-right" style="font-size: 40px"></i></h5>
    </div>
  </div>

  <div *ngFor="let threeNews of unseenNews">
    <div class="row">

      <!--The three News inside of a row-->
      <div class="zoom col-md-4"
           *ngFor="let newsEntry of threeNews"
           style="padding: 10px">
        <div class="card">
          <img class="card-img-top img-fluid image-crop-big"
               src="{{newsEntry.photo}}">
          <div class="card-body">
            <div class = "card-title">
              <div class="col-sm extra-pad card-title-font prevent-overflow-inline">{{newsEntry.title}}</div>
            </div>
            <div class = "card-text prevent-overflow">
              <div class="col-sm extra-pad card-text-font">{{newsEntry.summary}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
