@import '../top-events/top-events.component.css';

.card-body, .card {
  background-color: white;
  color: black;
}

.card-text {
  max-height: 70px;
}

.card {
  padding-bottom: 15px;
  margin: 0px;
}

.zoom {
  padding: 0px;
}

.zoom:hover {
  padding: 0px;
  transform: scale(1.07);
}

.card-text-font {
  color: black;
  font-size: 20px;
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 30px; /* fallback */
  height: 60px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
}

.card {
  margin: 10px;
  padding-bottom: 15px;
}

.card-title-font {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 40px; /* fallback */
  height: 40px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.gap {
  padding: 20px;
}

.title-button {
  background-color: transparent;
  outline: transparent;
}
