<div class="title-button" routerLink="/news-list" style="padding-top: 20px">
  <div class="row col-12 align-items-center" style="padding-bottom: 25px;">
    <h1 class="title-headline">News für dich</h1>
    <i class="fa fa-caret-right title-caret"></i>
  </div>
</div>

<app-error-notification *ngIf="error" [error]="error"></app-error-notification>

<div *ngIf="latestNews">
  <div *ngFor="let threeNews of latestNews">
    <div class="row" style="padding-left: 55px; padding-right: 55px">

      <!--The three News inside of a row-->
      <div class="zoom col-4"
           *ngFor="let newsEntry of threeNews"
           routerLink="/news/{{newsEntry.newsCode}}">
        <div class="card">
          <img class="card-img-top img-fluid image-crop-big"
               src="{{newsEntry.photo}}">
          <div class="card-body">
            <div class = "card-title">
              <div class="col-sm card-title-font">{{newsEntry.title}}</div>
            </div>
            <div class = "card-text">
              <div class="col-sm card-text-font">{{newsEntry.summary}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-spinner *ngIf="latestNews === undefined"></app-spinner>
