<app-header></app-header>

<div *ngIf="merchandiseProduct" class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">

    <div class="card main-body">
      <app-error-notification *ngIf="error" [error]="error"></app-error-notification>

      <div class="card-header row align-items-center" style="margin: 0px">
        <h1 class="page-title" style="padding-top: 18px; padding-left: 20px;">{{merchandiseProduct.merchandiseProductName}}</h1>
      </div>


      <div class="card-body">
          <div class="row">

            <div class="col">
              <img src="{{merchandiseProduct.photo}}" class="img-fluid image-crop-big" alt="some Image">
            </div>

            <div class="col">

              <h2 class="mb-0 headline">{{merchandiseProduct.merchandiseProductName}}
              <div *ngIf="merchandiseProduct.premium">
                <img src="assets/images/premium_icon.svg" alt="">
               </div>
              </h2><br>

            <div class="infos">

              <div>
                <p class="h3">Preis: {{merchandiseProduct.price}} €</p>
              </div>


              <div class="whenPremium">

                <div *ngIf="merchandiseProduct.premium">

                  <p class="h3">Premium Preis: {{merchandiseProduct.premiumPrice}} <i class="fas fa-coins"></i></p>

                </div>

              </div>

              <br>

              <div class="checkAvailability">
                <br>
                <p class="h3" *ngIf="merchandiseProduct.stockCount > 0">
                  <br>

                  <button type="button" class="btn default btn-sm m-0" style="border: 0" (click)="openPurchase(merchandiseProduct)">Kaufen mit Geld</button>
                  <button type="button" class="btn default btn-sm"  style="background-color: #ff9800; border: 0; margin-left: 20px;" data-toggle="modal" data-target="#purchase-modal" *ngIf="merchandiseProduct.premium && (user.points>merchandiseProduct.premiumPrice)" (click)="purchaseWithPremium(merchandiseProduct)">Kaufen mit Prämien</button>
                </p>

                <p class="h3" *ngIf="merchandiseProduct.stockCount == 0">
                  Das Produkt ist nicht auf Lager.
                </p>


              </div>

              <!-- Modal (Pop up when clicking purchase) -->
             <div class="modal fade" id="purchase-modal" role="dialog" aria-labelledby="purchase-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="purchase-modal-label">
                        Willst du dieses Produkt kaufen?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn-secondary btn" data-dismiss="modal">Abbrechen</button>
                      <button type="button" class="btn-primary btn" data-dismiss="modal" data-toggle="modal" data-target="#sucess-modal" >Ja</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal (Pop up when clicking ja in purchase) -->
              <div class="modal fade" id="sucess-modal" role="dialog" aria-labelledby="purchase-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="sucess-modal-label">
                        Merchandise wurde erfolgreich gekauft. Dein neuer Prämienpunktenstand: {{user.points - merchandiseProduct.premiumPrice}} </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <nav>
                      <button type="button" class="btn-primary btn" data-dismiss="modal" routerLink="/merchandise">OK</button>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>



            </div>
            </div>
            </div>
          </div>
      </div>
    </div>
    </div>
    </div>
