:host {
  display: block;
}

.tab {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

.tab:focus {
  outline: 0;
}

.select-tab {
  background: #ececec;
  color: #6f42c1 !important;
}

.tab-label {
  padding-left: 5px;
  font-family: Verdana, serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  width: 7%;
}
