<div class = "container">
  <div *ngIf="postError" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Bitte alle Felder ausfüllen!</strong> {{ errorMessage }}
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Registrieren</h3>
        </div>

        <form #form="ngForm" [mustMatch] = "['password', 'passwordConfirm']">
          <div class="form-group">
            <div class="col-5">
              <label for="firstName">Vorname</label>
              <input [(ngModel)]="user.firstName" type="text" id="firstName" name="firstName" class="form-control" #firstName="ngModel"/>
                <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger" >
                  Vorname ist nicht eingegeben
                </div>

            </div>
          </div>
          <div class="form-group">
            <div class="col-5">
              <label for="lastName">Nachname</label>
              <input [(ngModel)]="user.lastName" id="lastName" name="lastName" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-5">
              <label for="birthday">Geburtsdatum</label>
              <input [(ngModel)]="user.birthday" type="datetime-local" id="birthday"  name="birthday" class="form-control"
                     value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-5">
              <label for="email">E-Mail</label>
              <input [(ngModel)]="user.email" id="email" name="email"  class="form-control" #email="ngModel"/>
              <div *ngIf="submitted && email.invalid" class="error">
                <small class="form-text text-warning" *ngIf="email.errors.required">Your username is
                  required!
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-5">
              <label for="password">Passwort</label>
              <input type="password" [(ngModel)]="user.password" id="password" name="password" class="form-control" required  #password="ngModel"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-5">
              <label for="passwordConfirm">Passwort bestätigen</label>
              <input type="password" [(ngModel)]="passwordConfirm" id="passwordConfirm" name="passwordConfirm" class="form-control"
                     required  #passwordConfirmm="ngModel"/>
              <div [hidden]="passwordConfirmm.valid || passwordConfirmm.untouched"
                   class="alert alert-danger"> Passworter sind nicht gleich </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-5">
                <button type="button" class="btn btn-primary" (click)="registerUser(form) && form.form.valid">
                  Save
                </button>
            </div>
            </div>
        </form>
      </div>

    </div>
  </div>
</div>
</div>
