<div class="center-block">
  <ng-content></ng-content>

  <!--NAME-->
  <div class="info-wrapper">
    <img src="assets/images/user/person.svg" alt="">
    <div class="info">
      <div class="info-label"></div>
      <div class="info-field">
        {{user?.firstName}}
        {{user?.lastName}}
      </div>
    </div>
  </div>

  <!--USER CODE-->
  <div class="info-wrapper">
    <img src="assets/images/user/loupe.svg" alt="">
    <div class="info">
      <div class="info-label">User Code</div>
      <div class="info-field code-field">
        {{user?.userCode}}
      </div>
    </div>
  </div>

  <!--EMAIL-->
  <div class="info-wrapper">
    <img src="assets/images/user/email.svg" alt="">
    <div class="info">
      <div class="info-label">E-Mail</div>
      <div class="info-field">{{user?.email}}</div>
    </div>
  </div>

  <!--BIRTHDATE-->
  <div class="info-wrapper">
    <img src="assets/images/user/birth.svg" alt="">
    <div class="info">
      <div class="info-label">Birthdate</div>
      <div class="info-field">{{user?.birthday | date}}</div>
    </div>
  </div>

  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">User Type</div>
      <div class="info-field status-label" *ngIf="user.admin">Administrator</div>
      <div class="info-field status-label" *ngIf="!user.admin">Customer</div>
    </div>
  </div>

  <!--ONLINE STATUS-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Is Online</div>
      <div class="info-field status-label">{{user?.logged}}</div>
    </div>
  </div>

  <div class="info-wrapper">
    <img src="assets/images/user/history.svg" alt="">
    <div class="info">
      <div class="info-label">Created At</div>
      <div class="info-field status-label">{{user?.createdAt | date}}</div>
    </div>
  </div>

  <div class="info-wrapper">
    <img src="assets/images/user/history.svg" alt="">
    <div class="info">
      <div class="info-label">Updated At</div>
      <div class="info-field status-label">{{user?.updatedAt | date}}</div>
    </div>
  </div>


  <!--Account Status-->
  <div *ngIf="user?.admin === false">

    <div class="flex user-info-padding">
      <div class="customer-label">Customer Related Information</div>
    </div>

    <!--BLOCKED STATUS-->
    <div class="info-wrapper">
      <img src="assets/images/user/block.svg" alt="" *ngIf="user?.blocked">
      <img src="assets/images/user/not-block.svg" alt="" *ngIf="user?.blocked === false">
      <div class="info">
        <div class="info-label">Is Blocked</div>
        <div class="info-field status-label">{{user?.blocked}}</div>
      </div>
    </div>

    <!--POINTS-->
    <div class="info-wrapper">
      <img src="assets/images/user/points.svg" alt="">
      <div class="info">
        <div class="info-label">Points</div>
        <div class="info-field status-label">{{user?.points}}</div>
      </div>
    </div>
  </div>
</div>
