:host {
  display: block;
}

.center-block {
  width: 100%;
}

.info-wrapper {
  align-items: flex-end;
  height: 60px;
  border-top: 1px solid #efefef;
  cursor: pointer;
  padding-bottom: 15px;
}

.info {
  padding-left: 10px;
}

.status-padding {
  padding-left: 32px;
}

.info-label {
  font-family: SansSerif, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #888888;
}

.status-label {
  text-transform: lowercase;
}

.status-label:first-letter {
  text-transform: uppercase;
}

.info-field {
  font-family: SansSerif, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}

.code-field {
  min-height: 20px;
}

.primary-img {
  padding-right: 10px;
  cursor: pointer;
}

.customer-label {
  font-family: SansSerif, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 15px;
}

.user-info-padding {
  padding: 10px 0;
}

.on {
  padding-right: 8px;
  height: 25px;
}

