<div class="center-block">
  <ng-content></ng-content>

  <!--NAME-->
  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/person.svg" alt="">
    <div class="info">
      <div class="info-label"></div>
      <div class="info-field">
        {{user?.firstName}}
        {{user?.lastName}}
      </div>
    </div>
  </div>

  <!--USER CODE-->
  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/loupe.svg" alt="">
    <div class="info">
      <div class="info-label">User Code</div>
      <div class="info-field code-field">
        {{user?.userCode}}
      </div>
    </div>
  </div>

  <!--EMAIL-->
  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/email.svg" alt="">
    <div class="info">
      <div class="info-label">E-Mail</div>
      <div class="info-field">{{user?.email}}</div>
    </div>
  </div>

  <!--BIRTHDATE-->
  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/birth.svg" alt="">
    <div class="info">
      <div class="info-label">Geburtsdatum</div>
      <div class="info-field">{{user?.birthday | date}}</div>
    </div>
  </div>

  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/person.svg" alt="">
    <div class="info">
      <div class="info-label">Usertyp</div>
      <div class="info-field status-label" *ngIf="user.admin">Administrator</div>
      <div class="info-field status-label" *ngIf="!user.admin">Kunde</div>
    </div>
  </div>

  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/history.svg" alt="">
    <div class="info">
      <div class="info-label">Erstellt am</div>
      <div class="info-field status-label">{{user?.createdAt | date}}</div>
    </div>
  </div>

  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/history.svg" alt="">
    <div class="info">
      <div class="info-label">Bearbeitet am</div>
      <div class="info-field status-label">{{user?.updatedAt | date}}</div>
    </div>
  </div>


  <!--Account Status-->
  <div *ngIf="user?.admin === false">

    <div fxLayout="row" class="user-info-padding">
      <div class="customer-label">Kunde Informationen</div>
    </div>

    <!--BLOCKED STATUS-->
    <div fxLayout="row" class="info-wrapper">
      <img src="assets/images/user/block.svg" alt="" *ngIf="user?.blocked">
      <img src="assets/images/user/not-block.svg" alt="" *ngIf="user?.blocked === false">
      <div class="info">
        <div class="info-label">Ist Blocked</div>
        <div class="info-field status-label">{{user?.blocked}}</div>
      </div>
    </div>

    <!--POINTS-->
    <div fxLayout="row" class="info-wrapper">
      <img src="assets/images/user/points.svg" alt="">
      <div class="info">
        <div class="info-label">Prämienpunkte</div>
        <div class="info-field status-label">{{user?.points}}</div>
      </div>
    </div>
  </div>
</div>
