<app-error-notification *ngIf="error" [error]="error"></app-error-notification>

<div class="user-wrapper">
  <div fxLayout="row" class="user-line">
    <div class="link opacity" (click)="usersNavigate()">
      <span class="bread-crumps">Users</span>
    </div>

    <div class="bread-crumps user-padding">
      > Passwort Zurücksetzen
    </div>
  </div>
</div>
<div fxLayout="row" >
  <div class="administration-tabs">
    <app-admin-side-menu></app-admin-side-menu>
  </div>
  <div class="center-block">
    <div>
      <app-reset-password-admin-form [changePassword]="changePassword">
        <div class="buttons-wrapper">
          <div class="save-button-wrapper">
           <button id="user-password-save-button"
                  mat-raised-button
                  (click)="savePassword()" style="font-size: 14px">Speichern
            </button>
          </div>
          <div class="cancel-button-wrapper">
            <button id="user-password-cancel-button" mat-raised-button color = "warn"
                  (click)="closePasswordMode()">Abbrechen
            </button>
          </div>
        </div>
      </app-reset-password-admin-form>
    </div>
  </div>
</div>
