:host {
  display: block;
}

.flex {
  display: flex;
  padding-left: 31px;
}


.opacity {
  opacity: 0.5;
}


.center-block {
  width: 480px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 110px;
}
.edit-button-wrapper {
  padding-top: 25px;
  padding-left: 75%;
}

.delete-button-wrapper {
  padding-top: 10px;
  padding-left: 55%;
}

.edit-button {
  height: 18px;
  cursor: pointer;
  font-family: Verdana;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: right;
  color: #222222;
}

.delete-button {
  height: 18px;
  cursor: pointer;
  font-family: Verdana;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: right;
  color: #ff1f20;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
}

.cancel-button {
  width: 120px;
  height: 40px;
  background: #ff1f20;
  border: none;
}

button {
  outline: none;
}

.cancel-button-label {
  font-family: SansSerif, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.save-button {
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #000000;
}

.save-button-label {
  font-family: SansSerif, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
