<form name="personalInfoForm" #personalInfoForm="ngForm">

  <div class="password-form-field">
    <img class="icons" src="assets/images/user/loupe.svg" alt="">
    <mat-form-field hideRequiredMarker>
      <mat-label>Neues Passwort</mat-label>
      <input
        id="userInfoForm_inputNewPassword"
        matInput
        name="newPassword"
        required
        type = password
        [(ngModel)]="changePassword.newPassword"
        maxlength="255">
      <mat-error style="margin: 5px 0" *ngIf="!changePassword.newPassword"> Passwort ist erforderlich!</mat-error>
    </mat-form-field>
  </div>
  <div class = "button-wrapper">
    <ng-content></ng-content>
  </div>
</form>
