.top-tab {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #aeb0b6;
}

.tab {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #aeb0b6;
  border-top: 1px solid #efefef;
}

.top-tab:focus {
  outline: 0;
}

.tab:focus {
  outline: 0;
}

.select-tab {
  color: #ffffff !important;
}

.tab-label {
  padding-left: 15px;
  font-family: SansSerif, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  width: 7%;
}
