<div id="profile-info-tab"
     class="tab"
     [routerLink]="['/my-profile', 1]"
     routerLinkActive="select-tab">
  <span class="tab-label">My Info</span>
</div>

<div id="profile-tickets-tab"
     class="tab"
     [routerLink]="['/my-profile', 2]"
     routerLinkActive="select-tab">
  <span class="tab-label"
        [ngClass]="{'select-tab-label': globals.getProfileChoosenTab === 2}">
        My Tickets
      </span>
</div>

<div id="profile-invoices-tab"
     class="tab"
     [routerLink]="['/my-profile', 3]"
     routerLinkActive="select-tab">
  <span class="tab-label"
        [ngClass]="{'select-tab-label': globals.getProfileChoosenTab === 3}">
        My Invoices
      </span>
</div>
