.mat-stepper-horizontal {
  background-color: #FBFBFB;
  margin-top: 8px;
  border-radius: 20px 20px 20px 20px;


}

.mat-form-field {
  margin-top: 16px;
  background-color: #FBFBFB;
  border-radius: 20px 20px 20px 20px;

}

.btn-secondary{
  padding-bottom: 10px;
}

.page-title {
  font-size: 40px;
  padding-left: 20px;
  margin: 0px;
}

.divider {
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #FFFFFF;
}

.preenchimento-incompleto {
  background-color: black !important;
}

.preenchimento-ok {
  background-color: greenyellow !important;
}

.blueee {
  background-color: #2771BB!important;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #2771BB!important;
}
