<app-customer-header></app-customer-header>

<!-- Container the card is in -->
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <div class="card main-body">
        <div class="card-header d-flex align-items-center"  *ngIf="event">
          <h3 class="page-title">Tickets für {{event.name}}</h3>
          <div class="divider"></div>
          <h3 class="page-title">{{show.eventLocationCopy.name}}, {{show.eventLocationCopy.city}}</h3>
          <div class="divider"></div>
          <h3 class="page-title">{{formatDate(show.startsAt)}}</h3>
        </div>
        <div class="card-body">

          <app-error-notification *ngIf="error" [error]="error"></app-error-notification>

          <!-- Stepper -->
          <mat-horizontal-stepper linear #stepper>

            <mat-step *ngIf="show" [stepControl]="firstFormGroup" [editable]="secondFormGroup.value.editable" label="Tickets auswählen" class="blueee">
                <app-choose-ticket *ngIf="ticket" [ticketPurchaseSharingService]="ticketPurchaseSharingService" [ticket]="ticket" [firstFormGroup]="firstFormGroup"></app-choose-ticket>
            </mat-step>
            <mat-step *ngIf="show" [stepControl]="secondFormGroup" [editable]="secondFormGroup.value.editable" label="Zahlungsmethode auswählen" >
                <app-payment-method-overview *ngIf="ticket" [secondFormGroup]="secondFormGroup" [event]="event" [ticket]="ticket" [stepper]="stepper"></app-payment-method-overview>
            </mat-step>
            <mat-step *ngIf="show" label="Erledigt">
              <app-payment-done [event]="event" [show]="show" [ticket]="ticket" [section]="firstFormGroup.value.section"></app-payment-done>
            </mat-step>
          </mat-horizontal-stepper>






        </div>
      </div>
    </div>
  </div>
</div>
