<app-customer-header></app-customer-header>

<!-- Container the card is in -->
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <div class="card main-body">
        <div class="card-header d-flex align-items-center">
          <h3 class="mb-0 " style="font-size: 40px; padding-left: 20px;">Ticket kaufen</h3>
        </div>
        <div class="card-body">




          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup" *ngIf="!ticketPurchaseSharingService.isReserved()">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Ticket auswählen</ng-template>
                <app-choose-ticket [ticketPurchaseSharingService]="ticketPurchaseSharingService" [ticket]= "ticket" [firstFormGroup]="firstFormGroup"></app-choose-ticket>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" *ngIf="!ticketPurchaseSharingService.isReserved()">
              <ng-template matStepLabel>Payment Method</ng-template>
            <app-payment-method-overview [ticketPurchaseSharingService]="ticketPurchaseSharingService" [ticket] ="ticket"></app-payment-method-overview>
          </mat-step>
            <mat-step>
            <ng-template matStepLabel>Done</ng-template>


            <div class="messageWhenPurchased" *ngIf="ticketPurchaseSharingService.isPurchased()">
              <h2> Danke für Ihren Einkauf!</h2>
              <br>
              <h4> Ticket(s): {{ticket.ticketCode}}</h4>
              <br>
              <button type="button" class="btn btn-secondary">Rechnung herunterladen</button>
              <br>
              <br>
            </div>


            <div class="messageWhenPurchased" *ngIf="ticketPurchaseSharingService.isReserved()">
              <h2> Danke für Ihre Reservierung!</h2>
              <br>
              <h4> Reservierung(en): {{ticket.ticketCode}}</h4>
              <br>
              <button type="button" class="btn btn-secondary">Rechnung herunterladen</button>
              <br>
              <br>
            </div>
            <button type="button" class="btn btn-primary" routerLink="/home">Zurück zur Startseite</button>

          </mat-step>
          </mat-horizontal-stepper>




        </div>
      </div>
    </div>
  </div>
</div>
