<span style="font-size: 18px">Shows</span>
<div class="table-container all-height" #table>


  <div class="table">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!--START TIME-->
      <ng-container matColumnDef="startsAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Starts At</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="cell-padding">
            {{element?.startsAt | date:'MMM d, y, HH:mm'}}
          </div>
        </mat-cell>
      </ng-container>

      <!--END TIME-->
      <ng-container matColumnDef="endsAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ends At</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <div class="cell-padding">
            {{element?.endsAt | date:'MMM d, y, HH:mm'}}
          </div>
        </mat-cell>
      </ng-container>

      <!--EVENT LOCATION-->
      <ng-container matColumnDef="eventLocation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Event Location</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <div class="cell-padding">
            {{element?.eventLocation.name}}
          </div>
        </mat-cell>
      </ng-container>

      <!--TICKETS SOLD-->
      <ng-container matColumnDef="tsold">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tickets Sold</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <div class="cell-padding">
            {{element?.ticketsSold}}
          </div>
        </mat-cell>
      </ng-container>

      <!--TICKETS AVAILABLE-->
      <ng-container matColumnDef="tavailable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tickets Available</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <div class="cell-padding">
            {{element?.ticketsAvailable}}
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row;
             columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
  </div>
</div>
