<div class="center-block">
  <div fxLayout="row" class="info-wrapper">
    <img src="assets/images/user/loupe.svg" alt="">
    <div class="info">
      <div class="info-label">New Password</div>
    </div>
  </div>
<mat-form-field class="mat-form-field" >
  <input
    id="userInfoForm_inputPassword"
    matInput
    name="password"
    required
    maxlength="255"
    [(ngModel)]="changePassword.newPassword" type="password">
  <mat-error *ngIf="!changePassword.newPassword">Password Required!</mat-error>
</mat-form-field>
  <ng-content></ng-content>
</div>
