<app-header></app-header>


<!-- Container the card is in -->
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">

      <!-- Page card containing everything -->
      <div class="card main-body">
        <div class="card-header row align-items-center" style="margin: 0">
            <h1 class="col-4 page-title ml-3" style="padding-top: 18px">News</h1>
            <div class="col-4 row justify-content-center">

              <!-- Tab Buttons to switch between tabs -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item align-self-center" style="margin-right: 15px">
                  <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">
                    <div class="row justify-content-center nav-pill-font"><span>Alle</span></div>
                  </a>
                </li>
                <div *ngIf="authService.isLoggedIn()" class="tab-divider"></div>
                <li *ngIf="authService.isLoggedIn()" class="nav-item" style="margin-left: 15px">
                  <a class="nav-link" id="pills-read-tab" data-toggle="pill" href="#pills-read" role="tab" aria-controls="pills-read" aria-selected="false">
                    <div class="row justify-content-center nav-pill-font" ><span style="border-right: 0">Gelesen</span></div>
                  </a>
                </li>
              </ul>

            </div>
        </div>

        <!-- Actual Tab Content -->
        <div class="card-body">
          <!-- Tab content -->
          <div class="tab-content" id="pills-tabContent">

            <!-- Latest News -->
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
              <app-error-notification *ngIf="errorLatest" [error]="errorLatest"></app-error-notification>
              <app-news-list-inner *ngIf="latestNews" [news]="latestNews"></app-news-list-inner>
              <!-- Page Navigation of News List -->
              <nav class="search-navigation">
                <ul class="pagination">
                  <li class="page-item" *ngIf="latestNewsPage > 0" style="margin-right: auto">
                    <a class="page-link" (click)="loadPreviousLatestPage()">
                      <span aria-hidden="true">&laquo; Zurück</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" *ngIf="isLatestNext" style="margin-left: auto">
                    <a class="page-link" (click)="loadNextLatestPage()">
                      <span aria-hidden="true">Weiter &raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- Loading Spinner -->
              <app-spinner *ngIf="latestNews === undefined && !errorLatest"></app-spinner>
            </div>

            <!-- Seen News -->
            <div class="tab-pane fade" id="pills-read" role="tabpanel" aria-labelledby="pills-read-tab">
              <app-error-notification *ngIf="errorSeen" [error]="errorSeen"></app-error-notification>
              <app-news-list-inner *ngIf="seenNews" [news]="seenNews"></app-news-list-inner>
              <!-- Page Navigation of News List -->
              <nav class="search-navigation">
                <ul class="pagination">
                  <li class="page-item" *ngIf="seenNewsPage > 0" style="margin-right: auto">
                    <a class="page-link" (click)="loadPreviousSeenPage()">
                      <span aria-hidden="true">&laquo; Zurück</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" *ngIf="isSeenNext" style="margin-left: auto">
                    <a class="page-link" (click)="loadNextSeenPage()">
                      <span aria-hidden="true">Weiter &raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- Loading Spinner -->
              <app-spinner *ngIf="latestNews === undefined && !errorSeen"></app-spinner>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
