<!-- Container the card is in -->
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%; height: 800px">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%">

      <!-- Page card containing everything -->
      <div class="card main-body" style="padding-bottom: 0px; height: 800px">
        <div class="card-header row align-items-center" style="margin: 0px">
          <h1 class="page-title mb-0 ml-3" style="white-space: nowrap">Mein Konto</h1>
        </div>


    <!--TABS-->

    <div class="profile-wrapper">
      <div class="profile-tabs" style="z-index: 10">
        <app-my-profile-side-menu></app-my-profile-side-menu>
      </div>
      <div class="profile-content all-height"
           *ngIf="globals.getProfileChoosenTab === 'my-info'">
        <app-my-info-tab class="all-height"></app-my-info-tab>
      </div>

      <div class="profile-content"
           *ngIf="globals.getProfileChoosenTab === 'my-tickets'">
        <app-my-tickets-tab class="all-height"></app-my-tickets-tab>
      </div>

      <div class="profile-content"
           *ngIf="globals.getProfileChoosenTab === 'my-invoices'">
        <app-my-invoices-tab [invoiceId] = "invoiceId" class="all-height"></app-my-invoices-tab>
      </div>

  </div>
</div></div>
</div>
</div>
