<div class="card main-body">
  <div class="card-body">
<div class="wrapper all-height">
  <div class="profile-content-wrapper all-height">
    <div class="profile-title-wrapper">
      <div class="profile-line">
        <div class="profile-title">
          <span *ngIf="globals.getProfileChoosenTab === 'my-info'">My Info</span>
          <span *ngIf="globals.getProfileChoosenTab === 'my-tickets'">My Tickets</span>
          <span *ngIf="globals.getProfileChoosenTab === 'my-invoices'">My Invoices</span>
        </div>
      </div>
    </div>

    <!--TABS-->
    <div class="profile-wrapper">
      <div class="profile-tabs">
        <app-my-profile-side-menu></app-my-profile-side-menu>
      </div>

      <div class="profile-content all-height"
           *ngIf="globals.getProfileChoosenTab === 'my-info'">
        <app-my-info-tab class="all-height"></app-my-info-tab>
      </div>

      <div class="profile-content"
           *ngIf="globals.getProfileChoosenTab === 'my-tickets'">
        <app-my-tickets-tab class="all-height" [choosenTab]="globals.getProfileChoosenTab"></app-my-tickets-tab>
      </div>

      <div class="profile-content"
           *ngIf="globals.getProfileChoosenTab === 'my-invoices'">
        <app-my-invoices-tab class="all-height" [choosenTab]="globals.getProfileChoosenTab"></app-my-invoices-tab>
      </div>

    </div>
  </div>
</div>
  </div>
</div>
