<div class="center-block">
<form name="passwordForm" #passwordForm="ngForm">

  <!--Password-->
  <div fxLayout = "row" class="info-wrapper">
    <div class="info">
    <div class="info-label"> New Password</div>
    <mat-form-field hideRequiredMarker>
      <input
        id="userInfoForm_inputPassword"
        matInput
        name="password"
        required
        minlength="8"
        maxlength="255"
        [(ngModel)]="password" type="password">
      <mat-error *ngIf="!password">Password Required!</mat-error>
    </mat-form-field>
  </div>
  </div>
</form>
  <ng-content></ng-content>
</div>
