<div class="card-header" >
  <div class="container" style="margin: 0; max-width: 1320px">
    <div class="row header-row">
      <div class="col-8">
        <h1 class="mb-0 ml-3 page-title" style="height: 40px">Veranstaltungen suchen</h1>
      </div>
      <div class="col advanced-search mr-4">
        <a routerLink="/search/event-advanced" style="color: #FBFBFB;">>> Erweiterte Suche</a>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <app-error-notification *ngIf="error" [error]="error"></app-error-notification>
  <div *ngIf="currentPage && currentPage.length > 0">
    <div *ngFor="let s of currentPage" style="margin-top: -5px;">
      <div class="row" style="margin-top: 20px; height: 220px; box-shadow: 0px 3px 6px #00000029;">
        <div class="show-block">
          <div class="row show-row">
            <div class="col-4">
              <img src="{{s.photo}}" class="img-fluid show-image">
            </div>
            <div class="col-xl-5 col-lg-4 col-md-4 col-sm-3">
              <div class="container" style="margin-top: 15px; height: 170px;">
                <div class="row" style="font-size: 18px; color: #3D3D3D; font-weight: bold">
                  {{s.startsAt | date}}, {{s.startsAt | date:'shortTime'}} - {{s.endsAt | date}}, {{s.startsAt | date:'shortTime'}}
                </div>
                <div class="row" style="font-size: 30px; font-weight: bold; padding-top: 25px; color: #1A1A1A">
                  <a class="prevent-overflow-inline" style="color: #1A1A1A" style="padding-top: 5px; height: 30px">{{s.eventName}}</a>
                </div>
                <div class="row" style="padding-top: 30px;">
                  <div class="show-description-font">
                    {{s.description}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 pr-5">
              <div class="container show-price-container" style="margin-top: 25px; border-left: 1px solid #707070;">
                <div class="row">
                  <div class="container">
                    <div class="row justify-content-start">
                      <a style="font-size: 25px; font-weight: 500">Tickets ab</a><br>
                    </div>
                    <div class="row pl-1 justify-content-start" style="margin-top: 25px;">
                      <a style="font-size: 33px; font-weight: bolder">{{s.price}}€</a>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end" style="margin-top: 20px;">
                  <button class="btn default show-button align-middle" style="margin-top: 30px;" (click) = "openPurchase(s)">
                    Zum Angebot
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="previousPage || nextPage">
      <nav class="search-navigation">
        <ul class="pagination">
          <li class="page-item" *ngIf="previousPage.length !== 0 && currentPageIndex > 0" style="margin-right: auto">
            <a class="page-link" (click)="loadPreviousPage()">
              <span aria-hidden="true">&laquo; Zurück</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" *ngIf="nextPage.length !== 0" style="margin-left: auto"> <!-- *ngIf="nextPage" -->
            <a class="page-link" (click)="loadNextPage()">
              <span aria-hidden="true">Weiter &raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <p *ngIf="currentPage && currentPage.length == 0" style="font-size: 20px; padding-top: 40px; text-align: center">Es konnten keine Veranstaltungen mit diesen Kriterien gefunden werden.</p>
  <app-spinner *ngIf="currentPage === undefined" style="margin-top: 500px; margin-bottom: 500px;">
  </app-spinner>
</div>

