@import '../../home/top-events/top-events.component.css';

.card-body, .card {
  background-color: white;
  color: black;
}

.card-title-font {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 40px; /* fallback */
  height: 80px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.card-title-date-font {
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #888888;
}

.card-text-font {
  color: black;
  font-size: 20px;
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 30px; /* fallback */
  height: 90px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
}

.card {
  margin: 10px;
  padding-bottom: 15px;
}

.zoom:hover {
  transform: scale(1.05);
}

.row {
  margin: 0px;
}
