<div class="card-header d-flex align-items-center">
  <h1 class="mb-0 ml-3 page-title">Nach Künstler suchen</h1>
</div>
<div class="card-body">
  <div *ngIf="searchShared.entities.length > 0">
    <div *ngFor="let a of searchShared.entities">
      <div class="row">
        <div class="artist-block">
          <div class="row artist-row">
            <div class="col">
              <div class="artist-name pl-5" style="margin-top: 45px;">
                {{a.firstName}} {{a.lastName}}
              </div>
            </div>
            <div class="col pr-5">
              <button class="btn default artist-button align-middle" style="margin-top: 30px;">
                Zu den Events
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="searchShared.entities.length == 0" style="font-size: 20px; padding-top: 40px; text-align: center">Es konnten keine Künstler mit diesen Kriterien gefunden werden.</p>
</div>
