.artist-block {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
}

.artist-button {
  float: right;
  border: 0;
}

.artist-button:hover {
  color: #FBFBFB;
}

.artist-name {
  font-size: 25px;
  font-weight: bold;
}

.artist-row {
  height: 100%;
  margin-bottom: 8px;
}

.advanced-search {
  text-align: right;
  margin-top: 5px;
  font-size: 18px;
}

.header-row {
  padding-top: 18px;
}

a {
  color: #FBFBFB;
}

.search-navigation {
  width: 100%;
  margin-top: 25px;
}

.page-link{
  font-size: 17px;
  width: auto;
  color: rgb(33, 37, 41);
}
