
:host {
  display: block;
}
html {
  overflow: scroll;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
.hidden-x {
  overflow-x: hidden;
}
