<div class="event-wrapper">
  <div fxLayout="row" class="event-line">
    <div class="link opacity" (click)="eventsNavigate()">
      <span class="bread-crumps">Events</span>
    </div>

    <div class="bread-crumps event-padding">
      > Event Erstellen
    </div>
  </div>
</div>

<div fxLayout="row" >
  <div class="administration-tabs">
    <app-admin-side-menu></app-admin-side-menu>
  </div>
  <div class="center-block">
    <app-error-notification *ngIf="error" [error]="error" [showStatus]="false"></app-error-notification>
    <div>
      <app-create-event-form [event]="wrapper.model">
        <div fxLayout="row" class="buttons-wrapper">
          <div class="save-button-wrapper">
            <button id="event-save-button" mat-raised-button
                    (click)="saveEvent()">Erstellen
            </button>
          </div>
          <div class="cancel-button-wrapper">
            <button id="event-cancel-button" mat-raised-button color = "warn"
                    (click)="cancelCreateEventMode()">Abbrechen
            </button>
          </div>
        </div>
      </app-create-event-form>
    </div>
  </div>
</div>

