<app-guest-header></app-guest-header>
<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto" style="max-width: 660px;" >
      <span class="anchor" id="formResetPassword"></span>

      <div class="card" style="max-width: 660px;">
        <div class="password-reset-title">Passwort zurücksetzen</div>
        <div class="card-body">
          <div *ngIf="!processing">
            <form class="form" (keyup.enter)="sendResetPasswordRequest()" [formGroup]="formResetPassword" (ngSubmit)="sendResetPasswordRequest()">

             <div class="form-group" >
                <label for="inputEmail">E-Mail</label>
                <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                     aria-describedby="emailHelp" placeholder="E-Mail eingeben" style="margin-bottom: 5px; height: 50px;">
               <div *ngIf="submitted && formResetPassword.controls.email.errors" class="error">
                  <small class="form-text text-warning" *ngIf="formResetPassword.controls.email.errors.required">Bitte E-Mail Adresse eingeben!
                  </small>
               </div>
              </div>

              <button type="button" (click)="sendResetPasswordRequest()" class="btn default">Anfrage senden</button>

            </form>
          </div>
          <app-spinner *ngIf="processing">
          </app-spinner>
          <p class="instructions-info">Falls ein Konto dafür existiert, werden wir weitere Anweisungen per E-Mail senden.</p>
          <div class="h-divider"></div>
        </div>

      </div>
    </div>
  </div>



</div>
