<div class="card-header">
  <div class="container" style="margin: 0; max-width: 1320px">
    <div class="row header-row">
      <div class="col-8">
        <h1 class="mb-0 ml-3 page-title">Ort suchen</h1>
      </div>
      <div class="col advanced-search mr-4">
        <a routerLink="/search/location-advanced">Erweiterte Suche >></a>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <div *ngIf="searchShared.entities.length > 0">
    <div *ngFor="let l of searchShared.entities">
      <div class="row location-row">
        <div class="location-block">
          <div class="row ">
            <div class="col">
              <div class="location-details pl-5" style="margin-top: 45px;">
                {{l.name}}, {{l.plz}} {{l.city}}
              </div>
            </div>
            <div class="col pr-5">
              <button (click)="searchShows(l)" class="btn default location-button align-middle" style="margin-top: 25px;">
                Aufführungen
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="searchShared.entities.length == 0" style="font-size: 20px; padding-top: 40px; text-align: center">Es konnten keine Veranstalungsorte mit diesen Kriterien gefunden werden.</p>
</div>
