<app-guest-header></app-guest-header>
<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto" style="max-width: 660px; max-height: 640px;" >
      <span class="anchor" id="formLogin"></span>

      <div class="card" style="max-width: 660px; max-height: 640px;">
        <div style="padding: 40px;">
          <h1>Einloggen</h1>
        </div>
        <div class="card-body">
          <form class="form" (keyup.enter)="loginUser()" [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <div class="form-group" >
              <label for="inputEmail">E-Mail</label>
              <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                     aria-describedby="emailHelp" placeholder="E-Mail eingeben" style="margin-bottom: 5px; height: 50px;">
              <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
                <small class="form-text text-warning" *ngIf="loginForm.controls.email.errors.required">Bitte E-Mail Adresse eingeben!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Passwort</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="password" placeholder="Password">
              <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.required">Bitte Passwort eingeben!
                </small>
                <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.minlength">Das Passwort muss mindestens 8 Zeichen lang sein
                </small>
              </div>
              <a href="#" class="float-right">Passwort vergessen?</a>
            </div>
            <button type="button" (click)="loginUser()" class="btn default">Einloggen</button>

          </form>
          <div class="row">
          </div>
          <div class="h-divider">
          </div>
          <div class="row">
          </div>
          <p style="padding-left: 30px; padding-right: 30px;">Noch kein Konto? <a href="/registration" style="color: #707070">Jetzt registrieren</a></p>
        </div>

      </div>
      <p style="color: crimson; padding-left: 2%">You have in total 5 login attempts. If your account gets locked, please contact us.</p>
    </div>
  </div>
</div>
