<app-customer-header></app-customer-header>
<div *ngIf="error" class="alert alert-warning alert-dismissible fade show container-fullwidth" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto" style="width: 660px; height: 620px;" >
      <span class="anchor" id="formLogin"></span>

      <div class="card" style="width: 660px; height: 620px;">
        <div style="padding: 40px;">
          <h3 class="mb-0" style="font-size: 40px;">Einloggen</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="loginForm" (ngSubmit)="loginUser()" style="padding-left: 40px; padding-right: 40px; border-bottom-left-radius: 20px;">

            <div class="form-group" >
              <label for="inputUsername">E-Mail</label>
              <input type="text" name="username" formControlName="username" class="form-control" id="inputUsername"
                     aria-describedby="usernameHelp" placeholder="Enter username" style="height: 50px;">
              <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
                <small class="form-text text-warning" *ngIf="loginForm.controls.username.errors.required">Your username is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Passwort</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="password"
                     placeholder="Password" style="margin-bottom: 5px; height: 50px;">
              <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.required">Your password
                  is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="loginForm.controls.password.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>
              <a href="#" class="float-right" style="margin-top: 10px; font-size: 16px;">Passwort vergessen?</a>
            </div>

            <button type="button" (click)="loginUser()" class="btn float-right" style="color: #FBFBFB; background-color: #43B581; border-radius: 0px; width: 100%; margin-top: 50px; font-size: 18px; height: 42px;">Einloggen</button>

          </form>
          <div class="row">
          </div>
          <div class="h-divider">
          </div>
          <div class="row">
          </div>
          <p style="padding-left: 30px; padding-right: 30px; font-size: 20px;">Noch kein Konto? <a href="#" style="color: #707070">Jetzt registrieren</a></p>
        </div>

      </div>

    </div>
  </div>
</div>
