<div class="center-block">
  <ng-content></ng-content>
  <div class="container">
  <img src="{{event?.photo}}" class="img-fluid img-thumbnail" style="width: 200px;" alt="" >
  <button mat-raised-button color = "basic" (click)="openShowDialog()" style="margin-left: 61%;margin-bottom: 1%">Aufführungen</button>
  </div>
  <!--NAME-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label"></div>
      <div class="info-field">
        {{event?.name}}
      </div>
    </div>
  </div>

  <!--EVENT CODE-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Event Code</div>
      <div class="info-field code-field">
        {{event?.eventCode}}
      </div>
    </div>
  </div>

  <!--START DATE-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Beginn</div>
      <div class="info-field">{{event?.startsAt | date}}</div>
    </div>
  </div>

  <!--END DATE-->
  <div class="info-wrapper">
    <div class="info">
        <div class="info-label">Ende</div>
      <div class="info-field">{{event?.endsAt | date}}</div>
    </div>
  </div>

  <!--DESCRIPTION-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Beschreibung</div>
      <div class="info-field" style ="line-height: 25px; /* fallback */height: 22px; /* fallback */text-overflow: ellipsis; overflow: hidden;" *ngIf="event.description && event.description.length > 50">{{event.description.substring(0,50)}}...</div>
      <div class="info-field" style ="line-height: 25px; /* fallback */height: 22px; /* fallback */text-overflow: ellipsis; overflow: hidden;" *ngIf="event.description && event.description.length < 50">{{event.description}}</div>
    </div>
  </div>
  <!--CATEGORY-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Kategorie</div>
      <div class="info-field ">{{event?.category}}</div>
    </div>
  </div>

  <!--TYPE-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Typ</div>
      <div class="info-field status-label">{{event?.type}}</div>
    </div>
  </div>
  <!--TOTAL SOLD-->
  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Anzahl gekaufte Tickets</div>
      <div class="info-field status-label">{{event?.totalTicketsSold}}</div>
    </div>
  </div>

  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Preise</div>
      <div class="info-field status-label">{{priceToString()}}</div>
    </div>
  </div>

  <div class="info-wrapper">
    <div class="info">
      <div class="info-label">Artists</div>
      <div class="info-field status-label">{{event?.artists[0].firstName}} {{event?.artists[0].lastName}}</div>
    </div>
  </div>

</div>

