.elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 15px;
  max-width: 370px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}


.info {
  font-family: SansSerif, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000
}
