
  <div class="info">
    Sind Sie sich sicher, dass Sie ihr Konto löschen wollen?
  </div>

  <p style="margin-top: 10px"> In diesem Vorgang werden alle Ihre Daten (inkl. Prämienpunkte) unwiderruflich gelöscht.</p>

  <div class="button-wrapper" (click)="closeModal()">
    <button (click)="deleteAccount()"
            class="btn btn-danger" style="white-space: nowrap; margin-bottom: 15px;">Ja, ich möchte mein Konto Löschen
    </button>
    <button class="btn btn-secondary" style="white-space: nowrap">Nein, ich möchte meine Daten behalten
    </button>
  </div>
