.reset-search:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reset-search {
  margin-top: 10px;
}

.apply-filter {
  text-align: right;
  float: right;
}

.form-control {
  margin-bottom: 5px;
  height: 50px;
}

.card-header {
  padding-top: 30px;
}

.header-row {
  padding-top: 18px;
}

