<div class="card-header d-flex align-items-center">
  <div class="container" style="margin: 0; max-width: 1320px">
    <div class="row">
      <div class="col-8">
        <h1 class="mb-0 ml-3 page-title">Events suchen</h1>
      </div>
      <div class="col advanced-search mr-4">
        <a routerLink="/search/artist-advanced">>> Erweiterte Suche</a>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <div *ngIf="searchShared.entities.length > 0">
    <div *ngFor="let e of searchShared.entities">
      <div class="row">
        <div class="event-block">
          <div class="row event-row">
            <div class="col">
              <div class="event-name pl-5" style="margin-top: 45px;">
                <div class="row">
                  {{e.startsAt}} - {{e.endsAt}}
                </div>
                <div class="row">
                  {{e.name}}
                </div>
                <div class="row">
                  {{e.description}}
                </div>
              </div>
            </div>
            <div class="col pr-5">
              <a>Tickets ab</a><br>
              {{e.startPrice}}
              <button class="btn default artist-button align-middle" style="margin-top: 30px;">
                Zum Angebot
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="searchShared.entities.length == 0" style="font-size: 20px; padding-top: 40px; text-align: center">Es konnten keine Künstler mit diesen Kriterien gefunden werden.</p>
</div>
