<app-header></app-header>
<div class="container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <span class="anchor" id="formLogin"></span>
      <div class="card main-body">
        <div class="card-header align-items-center">
          <h1 class="mb-0 ml-3 page-title header-row">Erweiterte Künstler-Suche</h1>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="advancedArtistSearchForm" (ngSubmit)="advancedArtistSearch()">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="inputFirstName">Vorname</label>
                  <input type="text" name="firstName" formControlName="firstName" class="form-control" id="inputFirstName"
                         placeholder="Vorname" style="margin-bottom: 5px; height: 50px;">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="inputLastName">Nachname</label>
                  <input type="text" name="lastName" formControlName="lastName" class="form-control" id="inputLastName"
                         placeholder="Nachname" style="margin-bottom: 5px; height: 50px;">
                </div>
              </div>
            </div>
            <div class="row apply-filter">
              <div class="container pr-5 align-middle">
                <div class="row reset-search">
                  <a (click)="resetForm()">Filter zurücksetzen</a>
                </div>
                <div class="row" style="float: right; padding-right: 2px">
                  <button type="submit" class="btn default artist-button " style="margin-top: 5px;">Anwenden</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

