.reset-search:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reset-search {
  margin-top: 10px;
}

.apply-filter {
  text-align: right;
  float: right;
}

.header-row {
  padding-top: 18px;
}

