.card ,
.card-body {
  background-color: #FBFBFB;
  border-radius: 0px 0px 20px 20px;
  height: 1000px;
  max-height: 1000px;
}

.bg {
  /* The image used */
  background-image: url("img_1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
