<app-guest-header></app-guest-header>


<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto" style="max-width: 1500px; max-height: 620px;" >
      <span class="anchor" id="formLogin"></span>

      <div class="card" style="max-width: 1500px">
        <div style="padding: 40px;">
          <h3 class="mb-0" style="font-size: 30px;">Top-Veranstaltungen</h3>
        </div>

        <div class="card-body">
          <app-top-events></app-top-events>
        </div>

      </div>
    </div>
  </div>
</div>




<!--
<div class="jumbotron mt-5">
  <h1 class="display-4">Home page for guests!</h1>
  <hr class="my-4">
  <a *ngIf="!authService.isLoggedIn()" class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()">
    <p>Check out the latest message from the SEPM group phase.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/message" role="button">Message</a>
    </p>
  </div>
</div>
-->




