<div class="table-container all-height" #table>
  <div fxLayout = "row">
    <mat-form-field class="input-wrapper" style="width: 200px;">
      <mat-label>In News code suchen</mat-label>
      <input matInput
             name="searchNewsCode" [(ngModel)]="searchNews.newsCode">
    </mat-form-field>

    <mat-form-field class="input-wrapper" style="width: 150px;">
      <mat-label>In Titel suchen</mat-label>
      <input matInput
             name="searchTitle" [(ngModel)]="searchNews.title">
    </mat-form-field>

    <mat-form-field class="input-wrapper" style="width: 160px;">
      <mat-label>In Author suchen</mat-label>
      <input matInput
             name="searchAuthor" [(ngModel)]="searchNews.author">
    </mat-form-field>

    <mat-form-field class="input-wrapper" style="width: 175px;">
      <mat-label>Veröffentlicht Von</mat-label>
      <input matInput [matDatepicker]="picker1" (dateInput)="addStart('input', $event)" (dateChange)="addStart('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="input-wrapper" style="width: 175px;">
      <mat-label>Veröffentlicht Bis</mat-label>
      <input matInput [matDatepicker]="picker2" (dateInput)="addEnd('input', $event)" (dateChange)="addEnd('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  </div>
  <div>
    <button mat-raised-button (click)="searching=true;loadAllNewsByParameters()" style="margin-right:10px"> Suchen</button>
    <button mat-raised-button (click)="searching=false;loadAllNews()" style="margin-right: 40%">Alle News</button>
  </div>

  <button mat-raised-button color = "basic" style="margin-left: 80%;margin-bottom: 1%" (click)="createNewNews()">News Erstellen</button>

  <div class="table">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!--NEWSCODE-->
      <ng-container matColumnDef="newsCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>News Code</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="newsDetails(element)">
          <div class="cell-padding">
            {{element?.newsCode}}
          </div>
        </mat-cell>
      </ng-container>

      <!--TITLE-->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Titel</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="newsDetails(element)">
          <div class="cell-padding">
            {{element?.title.substring(0,50)}}...
          </div>
        </mat-cell>
      </ng-container>

      <!--AUTHOR-->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="newsDetails(element)">
          <div class="cell-padding">
            {{element?.author}}
          </div>
        </mat-cell>
      </ng-container>

      <!--PUBLISHED AT-->
      <ng-container matColumnDef="publishedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Veröffentlicht am</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="newsDetails(element)">
          <div class="cell-padding">
            {{element?.publishedAt | date}}
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row;
             columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]"
                   [pageSize] = "pageSize"
                   [hidePageSize]="true"
                   (page) = "pageEvent($event)"></mat-paginator>
  </div>
</div>
