<div class="container my-4" *ngIf="events && events.length > 0">

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn btn" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <div class="carousel-inner" role="listbox">

      <!--Carousel Items-->
      <div class="carousel-item"
           *ngFor="let threeEvents of events"
           [class.active]="threeEvents === events[0]">
        <div class="row">

          <!--The three Events inside a Carousel Item-->
          <div class="col-md-4 clearfix d-none d-md-block"
               *ngFor="let event of threeEvents"
               [class.clearfix]="event !== threeEvents[0]"
               [class.d-none]="event !== threeEvents[0]"
               [class.d-md-block]="event !== threeEvents[0]">
            <div class="card mb-2">
              <img class="card-img-top" src="{{event.photo}}"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{event.name}}</h4>
                <p class="card-text">{{event.description}}</p>
                <a class="btn btn-dark text-white" >View Event</a>
              </div>
            </div>
          </div>

        </div>
      </div>




    </div>
  </div>
  <!--/.Carousel Wrapper-->


</div>
