<app-customer-header></app-customer-header>



<app-error-notification *ngIf="error" [error]="error"></app-error-notification>

<div class="card-body">
  <div class="row" style="padding-left: 30px; padding-right: 30px">

    <h1 class="mb-7">MERCHANDISE</h1>
    <p> <i class="fas fa-star"></i> Prämienpunkte einlösbar </p>
    <div *ngIf="merchandise">

  </div>


    <div class="row" style="padding-left: 25px; padding-right: 25px; padding-bottom: 25px">

      <div class="zoom col-4"
           *ngFor="let product of merchandise"
           routerLink="/merchandise/{{product.merchandiseProductCode}}">
        <div class="card" style="padding-bottom: 10px">
          <img class="card-img-top img-fluid image-crop-big"
               src="https://i.picsum.photos/id/100/2500/1656.jpg">

          <div class="card-body">

            <div class = "card-title">

              <div class="nameAndPremiumInfo">
                <div class="col-sm card-title-font">{{product.merchandiseProductName}}

                  <div class="premiumIcon" *ngIf="product.premium">
                    <i class="fas fa-star"></i>
                  </div>

                </div>

              </div>

            </div>


            <div class = "card-text">
              <div class="col-sm card-text-font"> € {{product.price}}</div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
