<app-header></app-header>


<!-- Container the card is in -->
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">

      <!-- Page card containing everything -->
      <div class="card main-body" style="margin: 0; padding-top: 60px; padding-bottom: 10px">

        <div class="card-body">
          <div class="row merch-row" style="padding-left: 30px; padding-right: 30px">

            <div class="col-5">
              <h1 class="mb-7">Merchandise</h1>
            </div>

            <div class="col-4">
              <p class="infoAboutMyPoints" *ngIf="user" style="margin-top: 7px; margin-bottom: 0px">
                Meine Prämienpunkte: {{user.points}}
              </p>
            </div>

            <div class="col-3">
              <p class="infoAboutPremium" style="margin-top: 5px; margin-bottom: 0px">
                <img src="assets/images/premium_icon.svg" alt="">
                Prämienpunkte einlösbar
              </p>
            </div>
          </div>
          <app-error-notification *ngIf="error" [error]="error"></app-error-notification>

          <div *ngIf="merchandise">
            <div class="container">
              <div class="row merch-row" style="padding-left: 15px; padding-right: 15px; padding-bottom: 25px; width: 100%">
                <div class="col-4 col-4-xl col-4-lg col-4-md col-12-sm" *ngFor="let product of merchandise" style="height: 710px; margin-bottom: 30px;">
                  <div class="zoom">

                    <div class="card-deck h-100">

                      <!-- Card Light -->
                      <div class="card">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img class="card-img-top"
                               src="{{product.photo}}" alt="Card image cap">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>



                        <!-- Card content -->
                        <div class="card-body">

                          <!-- Title -->
                          <div class="container" style="padding: 0">
                            <div class="row merch-row justify-content-end" style="margin-right: -25px; margin-top: -10px" *ngIf="product.premium">
                              <img src="assets/images/premium_icon.svg" alt="">
                            </div>
                            <div style="margin-top: -15px" *ngIf="product.premium">

                            </div>
                            <div class = "card-title row merch-row">
                              <div class="card-title-font " style="margin-left: 0px">
                                <div class="container" style="padding: 0px">
                                  <div class="row merch-row" style="padding: 0px; margin-top: -2px">
                                    <div class="card-title-font">{{product.merchandiseProductName}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


                          <hr>

                          <!-- Text -->
                          <div class="whenPremium" *ngIf="product.premium">
                            <p class="card-text">Regular Price: {{product.price}} €</p>
                            <p class="card-text">Premium Price: {{product.premiumPrice}} <i class="fas fa-coins"></i></p>
                          </div>

                          <div class="whenPremium" *ngIf="!product.premium">
                            <p class="card-text">Price: €{{product.price}}</p>
                            <br>
                          </div>

                          <a class="detailsText black-text d-flex justify-content-end">
                            <h5 routerLink="/merchandise/{{product.merchandiseProductCode}}">Details<i class="fas fa-angle-double-right"></i></h5>
                          </a>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="padding-bottom: 80px;">
            <app-spinner *ngIf="merchandise === undefined && !error">
            </app-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
