
.card-body, .card {
  background-color: white;
  color: black;
}

.card-title {
  display: -webkit-flex;
}

.card-title-font {
  display: -webkit-inline-flex;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 40px; /* fallback */
  height: 80px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 30px;
  font-weight: bold;
  color: black;
}


.card-text-font {
  color: black;
  font-size: 20px;
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 30px; /* fallback */
  height: 90px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
}

.card {
  margin: 10px;
  padding-bottom: 15px;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.32);
}

.zoom:hover {
  transform: scale(1.05);
}

.row {
  margin: 0px;
}

.fa-star {
  color: #ff9800;
  font-size: 20px;
}

.card-deck {
  padding: 15px;
}

.detailsText {
  color: cornflowerblue;
}

.detailsText:hover {
  color: cornflowerblue;
}

.card-img-top {
  object-fit: cover; /* scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: 450px;
  margin: 0px;
  border-radius: 0px;
  filter: grayscale(20%) contrast(110%);
}

.infoAboutPremium {
  text-align: right;
}
