<!-- <app-customer-header></app-customer-header> -->
<!-- <app-guest-header *ngIf="!authService.isLoggedIn()"></app-guest-header> -->
<!-- <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<!-- <div class="container justify-content-center">
  <div class="row">
    <div class="col-xl-12 mx-auto">

      <div class="card main-body">
        <div class="card-header d-flex align-items-center">
          <h2 class="mb-0 " style="font-size: 35px;"> Dua Lipa - Live in Concert | Wiener Stadthalle, Halle F, Wien </h2>
        </div>

        <div class="card-body">

          <div class="mainImage">
            <img src="https://i.picsum.photos/id/0/5616/3744.jpg" class="img-fluid" alt="some Image">
          </div>

          <div class="eventName">
            <h2 class="mb-0" style="font-size: 40px"> Dua Lipa - Live in Concert</h2>
          </div>

          <div class="eventInfo">

            <div class="eventDate">
              <p> 26.06.2020 - 28.06.2020 </p>
            </div>


            <div class="eventLocation">
              <p> Wiener Stadthalle, Halle F, Wien </p>
            </div>
          </div>




        </div>

      </div>
    </div>
  </div>
</div>
-->

<app-customer-header></app-customer-header>
<!-- <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <span class="anchor" id="formLogin"></span>

      <div class="card main-body">
        <div class="card-header d-flex align-items-center">
          <h3 class="mb-0 " style="font-size: 40px; padding-left: 20px;">Dua Lipa - Live in Concert | Wiener Stadthalle, Halle F, Wien </h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <img src="https://i.picsum.photos/id/0/5616/3744.jpg" class="img-fluid" alt="some Image">

            </div>
            <div class="col">
              <div id="eventHeadline">
                <h2 class="mb-0 headline"> Dua Lipa - Live in Concert</h2><br>
              </div>

              <div id="eventInfo">
                <p class ="sub-headline"> 26.06.2020 - 28.06.2020 </p>
                <p class="sub-headline"> Wiener Stadthalle, Halle F, Wien </p>
              </div>

              <div id="performanceTitle">
                <p class="h3">Aufführungen</p>
              </div>

              <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-responsive-lg table-hover  mb-0">
                  <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>15.06.2020</td>
                    <button type="button" class="btn btn-success btn-sm m-0">Tickets</button>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>16.06.2020</td>
                    <button type="button" class="btn btn-success btn-sm m-0">Tickets</button>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>28.06.2020.</td>
                    <button type="button" class="btn btn-success btn-sm m-0">Tickets</button>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>29.06.2020.</td>
                    <button type="button" class="btn btn-success btn-sm m-0">Tickets</button>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>01.07.2020.</td>
                    <button type="button" class="btn btn-success btn-sm m-0">Tickets</button>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>04.07.2020.</td>
                    <button type="button" class="btn btn-success btn-sm m-0">Tickets</button>
                  </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div>

          <div class="row">

            <h2 class="mb-0 headline" style="font-size: 25px; padding-left: 13px;"> Beschreibung  </h2>

            <div id="descriptionText">
                <p>  "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
