/* .h-divider{
  margin-top:160px;
  margin-bottom:40px;
  height:1px;
  width:100%;
  border-top:1px solid;
  border-color: #707070;
  color: #707070;
}

label {
  font-size: 20px;
}

.bg {
  /* The image used /

  / Full height /
  height: 100%;

  / Center and scale the image nicely */
/*  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/* }

.img-fluid {
  display: inline-flex;
  float: left;


  padding: 5px;
  max-width: 50%;
  max-height: 50%;
 /* height: auto; */
/* }

 .eventName {
  float: right;
  max-width: 50%;
  height: auto;
}

.eventInfo {
  float: left;
  max-width: 30%;
  height: auto;
}
*/

.event {
  margin-left: 45px;
}

.eventName {
  max-width: 50%;
  height: auto;
  float: left;
}

.eventInfo {
  float: left;
  height: auto;
}

.headline {
  max-width: 100%;
  height: auto;
  font-size: 40px;
  padding-top: 30px;
}

.sub-headline {
  /* padding-top: 10px; */
}

.img-fluid {
  display: inline-flex;
  float: left;


  padding-top: 30px;
  max-width: 100%;
  height: auto;
}

#descriptionText {
  padding-left: 10px;
}

.h3 {
  padding-top: 15px;
  max-width: 100%;
  height: auto;
}

.my-custom-scrollbar {
  position: relative;
  max-width: 100%;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}


