/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.all-height {
  height: 100%;
}

.mat-header-row {
  min-height: 25px !important;
  border: 1px solid #c8c8c8;
  border-left: 0;
  border-right: 0;
  padding: 0 !important;
}


.mat-header-cell {
  border-left: 1px solid #c8c8c8;
  box-sizing: border-box;
}

.mat-row {
  padding: 0 !important;
  border-bottom-color: white;
  min-height: 54px !important;
}

.mat-cell {
  cursor: pointer;
  height: 54px;
  display: flex;
  align-items: center;
  border-left: 1px solid white;
  box-sizing: border-box;
}

.mat-row:hover {
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, #d4d4d4, #d4d4d4);
}

mat-cell:first-child {
  border-left: 0;
}

mat-row:nth-child(even) {
  background-color: #f6f6f6;
}

.administration-tabs, .profile-tabs {
  width: 12%;
  padding-top: 20px;
}


.administration-content, .profile-content {
  width: 88%;
}

.content-section {
  scrollbar-width: none;
}
@media screen and (max-width: 1400px) {
  .administration-tabs, .profile-tabs {
    width: 20%;
  }

  .administration-content, .profile-content {
    width: 80%;
  }
}

label {
  font-size: 20px;
}

html, body { min-height: 100%; }
body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif !important;
}
body {
  background: no-repeat center;
  background-size: cover;
}

label {
  font-size: 20px;
}

//Page Title
h1 {
  font-size: 40px !important;
  font-weight: bold !important;
}

//Card Body Title
h2 {
  font-size: 30px !important;
  font-weight: bold !important;
}

//Card Body Description/Alternative Title
h3 {
  font-size: 25px !important;
  font-weight: bold !important;
}

//Card Body Description/Alternative Title non bold
h4 {
  font-size: 25px !important;
  font-weight: lighter !important;
}

h5 {
  font-size: 20px !important;
  font-weight: lighter !important;
}

//General Text
p {
  font-size: 18px;
  font-weight: lighter;
}

//Button Styles
.btn {
  cursor: pointer;
  border-radius: 0px;
  font-size: 18px; height: 42px;
}

/* Green */
.success {
  border-color: #43B581;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}


/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}

.default {
  border: 0.5px solid #707070;
  background-color: #43B581;
  color: #FBFBFB;
}

.default:hover {
  background: #317d59;
  color: #FBFBFB;
}

.divider {
  border-color: #FBFBFB;
  border-style: solid;
  border-width: 0.5px;
  height: 46px;
}

//Page Title
.card-header {
  border-radius: 20px 20px 0px 0px !important;
  background-color: #0E2E62;
  z-index:2;
  color: #FBFBFB;
  height: 90px;
}

//Page Content
.card ,
.card-body {
  background-color: #FBFBFB;
  border-radius: 20px 20px 20px 20px;
}

.card {
  box-shadow: 0px 6px 12px #00000029;
  border-radius: 20px 20px 20px 20px;
  border: 0px;
}

.card-body {
  margin: 0px 40px 40px 40px;
}

//Warning Messages
.alert {
  margin-bottom: 0px;
}

label {
  margin-bottom: 20px;
}

.main-body {
  top: -20px;
  max-width: 1320px;
  padding-bottom: 10px;
}

//Prevent text overflow (only works when max-width is set, thus does not work on elements that can expand infinitely)
.prevent-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
//Prevent text overflow (only works when max-width is set, thus does not work on elements that can expand infinitely)
.prevent-overflow-inline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.zoom:focus {
  outline: transparent;
}

.page-title {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
}

.page-link:hover {
  cursor: pointer;
}
