<app-header></app-header>
<div class="container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <div class="card main-body" style="padding-top: 60px">

        <div class="card-body">
          <div class="container">
            <div class="row pb-5">
              <h1>Häufig gestellte Fragen</h1>
            </div>
              <h2> Was ist Ticketline und wie funktioniert es? </h2>
              <p> Ticketline ist ein Unternehmen, das sich auf den Verkauf von Tickets für verschiedene Veranstaltungen
                (z.B. Kino, Theater, Opern, Konzerte, usw.), sowie den Verkauf von dazugehörigen Merchandising-Artikeln (beziehungsweise Fan-Artikel) spezialisiert hat.
                In den Bundeshauptstädten gibt es hierzu Verkaufsstellen, in denen die Kunden sich informieren und Karten, sowie Fan-Artikel direkt kaufen können. </p>
              <h2> In welchen Ländern kann ich Ticketline nutzen? </h2>
              <p> Ticketline ist derzeitig nur in Österreich tätig. </p>
             <h2> Wie kann ich den Ticketline-Kundendienst kontaktieren?</h2>
             <p> <SPAN class=li> E-Mail-Addresse: <a routerLink="">help@ticketline.com</a> </SPAN>
                 <SPAN class=li> Telefonnummer: <a routerLink="">123-456-789</a> </SPAN>
             </p>
              <h2> Warum kann ich mich nicht einloggen? </h2>
            <p><SPAN class=li>Wenn Sie noch nicht registriert sind, müssen Sie sich zuerst <a routerLink="/registration">hier</a> registrieren.
            </SPAN><SPAN class="li"> Sie sind gesperrt, da Sie fünf Mal falsche Passwort eingetippt haben. Bitte kontaktieren sie uns in dem Fall auf <a routerLink="">help@ticketline.com .</a></SPAN></p>
            <h2> Warum bin ich gesperrt? </h2>
            <p> Sie haben fünf Anmeldeversuche. Falls Sie mehr als fünf Mal das Passwort falsch eingetippt haben, werden Sie gesperrt. Bitte kontaktieren Sie uns und wir werden Sie entsperren.</p>
            <h2> Wie bekomme ich Premiumpunkte? </h2>
            <p> Beim Kauf auf unserer Website für einen Euro erhalten Sie einen Premiumpunkt. </p>
            <h2> Wie kann ich mein Ticket ausdrucken? </h2>
            <p> <a routerLink="/my-profile/my-tickets">Hier</a> können Sie Ihre Buchungen sehen und durch Klicken auf "PDF" wird ein Ticket im Druckformat generiert. </p>
            <h2> Was sind die Top Zehn Veranstaltungen in diesem Monat? </h2>
            <p> <a routerLink="/top-ten-events">Hier</a> können Sie ein Chart mit top zehn Veranstaltungen sehen. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="not-print"></app-footer>
