<app-header></app-header>
<div class="container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <span class="anchor" id="formLogin"></span>

      <div class="card main-body" style="padding-top: 60px">

        <div class="card-body">
          <div class="container">
            <div class="row pb-5">
              <h1>Häufig gestellte Fragen</h1>
            </div>
              <h2> 1.Frage </h2>
              <p> Antwort </p>
              <h2> 2.Frage </h2>
              <p> Antwort </p>
              <h2> 3.Frage </h2>
              <p> Antwort </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer class="not-print"></app-footer>
