<app-customer-header *ngIf="authService.isLoggedIn()"></app-customer-header>
<app-guest-header *ngIf="!authService.isLoggedIn()"></app-guest-header>
<app-content>
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-xl-12 mx-auto" >
        <span class="anchor" id="formLogin"></span>

        <div class="card main-body">
          <div class="card-body">
            <h1 > FAQ </h1>
            <h2> 1.Question </h2>
            <p> Answer </p>
            <h2> 2.Question </h2>
            <p> Answer </p>
            <h2> 3.Question </h2>
            <p> Answer </p>

          </div>

        </div>
      </div>
    </div>
  </div>
</app-content>
<app-footer class="not-print"></app-footer>
