<app-error-notification *ngIf="error" [error]="error"></app-error-notification>
<div *ngIf="wrapper.state !== state.DELETING && !error">

  <h1 class="col-5 page-title" style="white-space: nowrap; padding-top: 50px; padding-left: 50px">Meine Info</h1>
<div class="center-block">
  <div *ngIf="wrapper.state === state.READY">
    <div>
      <div class="password-button-wrapper">
      <button id="userInfoForm_PasswordButton"
            class="btn btn-outline-dark" style="white-space: nowrap"
            (click)="openPasswordMode()">
        Passwort Ändern
      </button>
      </div>

      <app-profile-info [currentUser]="wrapper.model">
      </app-profile-info>
      <div class="bottom-button-wrapper">
        <div class="edit-button-wrapper">
          <button id="userInfoForm_editButton"
                class="btn btn-outline-primary"
                (click)="openEditMode()">
          Bearbeiten
          </button>
        </div>

        <div class="delete-button-wrapper">
        <span id="userInfoForm_deleteButton"
            class="btn btn-outline-danger" style="white-space: nowrap"
            (click)="openDeleteDialog()">
        Konto Löschen
        </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 100px; z-index: 3;" *ngIf="wrapper.state === state.EDIT && !error">
  <app-edit-profile [wrapper]= "wrapper">

      <button id="userInfoForm_saveButton"
              class="btn btn-outline-primary"
              (click)="saveUserInfo()">Speichern
      </button>

      <button id="userInfoForm_closeButton"
              class="btn btn-outline-danger"
              (click)="closeEditMode()">Abbrechen
      </button>
  </app-edit-profile>
</div>

<div style="padding-top: 150px;" *ngIf="wrapper.state === state.PASSWORD && !error">
  <app-change-password [changePassword]= "changePassword">
      <button id="userInfoForm_changeButton"
              class="btn btn-outline-primary"
              (click)="savePassword()">Ändern
      </button>

      <button id="userInfoForm_cancelButton"
              class="btn btn-outline-danger"
              (click)="closePasswordMode()">Abbrechen
      </button>

  </app-change-password>
</div>
</div>
