<app-error-notification *ngIf="error" [error]="error"></app-error-notification>
<div *ngIf="wrapper.state !== state.DELETING && !error">
  <div class="container">
    <div class="row" style="border-bottom: 2px solid #efefef; z-index: 0; white-space: nowrap; padding: 50px 50px 16px 50px;margin-bottom: 0px">
      <div class="col-5 pl-0">
        <h1 class="mb-0 pt-0 page-title">Meine Info</h1>
      </div>
      <div class="col pr-0 text-right">
        <button id="userInfoForm_editButton"
                class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px; padding-right: 8px"
                (click)="openEditMode()" *ngIf="wrapper.state === state.READY"><i class="fas fa-user-edit"></i></button>
        <button id="userInfoForm_editButton1"
                class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px; padding-right: 8px"
                (click)="openEditMode()" *ngIf="wrapper.state !== state.READY" disabled><i class="fas fa-user-edit"></i></button>
      </div>
    </div>
    <div class="row" style="padding-left: 100px; padding-right: 100px">
      <div class="container" *ngIf="wrapper.state === state.READY">
        <div class="row mb-4">
          <app-profile-info [currentUser]="wrapper.model" style="width: 100%">
          </app-profile-info>
        </div>
        <div class="row">
          <div class="col">
            <button id="userInfoForm_PasswordButton"
                    class="btn btn-outline-primary" style="white-space: nowrap; border-radius: 10px"
                    (click)="openPasswordMode()">
              Passwort ändern
            </button>
          </div>
          <div class="col text-right">
            <button id="userInfoForm_deleteButton"
                    class="btn btn-outline-danger pull-right" style="white-space: nowrap; border-radius: 10px"
                    (click)="openDeleteDialog()">
              Konto löschen
            </button>
          </div>
        </div>
      </div>
      <app-edit-profile [wrapper]= "wrapper" *ngIf="wrapper.state === state.EDIT && !error" style="width: 100%; padding-top: 50px">
        <div class="container" style="padding-top: 20px">
          <div class="row">
            <div class="col">
              <button id="userInfoForm_saveButton"
                      class="btn btn-outline-primary" style="white-space: nowrap; border-radius: 10px"
                      (click)="saveUserInfo()">Speichern
              </button>
            </div>
            <div class="col text-right">
              <button id="userInfoForm_closeButton"
                      class="btn btn-outline-danger" style="white-space: nowrap; border-radius: 10px"
                      (click)="closeEditMode()">Abbrechen
              </button>
            </div>
          </div>
        </div>
      </app-edit-profile>
      <app-change-password [changePassword]= "changePassword" *ngIf="wrapper.state === state.PASSWORD && !error" style="width: 100%; padding-top: 60px">
        <div class="container" style="padding-top: 30px">
          <div class="row">
            <div class="col">
              <button id="userInfoForm_changeButton"
                      class="btn btn-outline-primary" style="white-space: nowrap; border-radius: 10px"
                      (click)="savePassword()">Ändern
              </button>
            </div>
            <div class="col text-right">
              <button id="userInfoForm_cancelButton"
                      class="btn btn-outline-danger" style="white-space: nowrap; border-radius: 10px"
                      (click)="closePasswordMode()">Abbrechen
              </button>
            </div>
          </div>
        </div>
      </app-change-password>
    </div>
  </div>
</div>
