<app-error-notification *ngIf="error" [error]="error"></app-error-notification>
<div class="flex" *ngIf="wrapper.state !== state.DELETING && !error">
  <div class="center-block">
    <div *ngIf="wrapper.state === state.READY">
      <div class="top-button-wrapper">
      <div class="edit-button-wrapper">
      <span id="userInfoForm_editButton"
            class="edit-button"
            (click)="openEditMode()">
        Edit My Info
      </span>
      </div>

      <div class="password-button-wrapper">
      <span id="userInfoForm_PasswordButton"
            class="password-button"
            (click)="openPasswordMode()">
        Change Password
      </span>
      </div>
      </div>
      <app-profile-info [currentUser]="wrapper.model">
      </app-profile-info>
      <div class="delete-button-wrapper">
      <span id="userInfoForm_deleteButton"
            class="delete-button"
            (click)="openDeleteDialog()">
        Delete My Account
      </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="wrapper.state === state.EDIT && !error">
  <app-edit-profile [wrapper]= "wrapper">
    <div class="button-wrapper">
      <button id="userInfoForm_saveButton"
              class="save-button"
              (click)="saveUserInfo()"
              mat-raised-button color="warn">
      <span class="save-button-label">Save</span>
    </button>

      <button id="userInfoForm_closeButton"
              class="cancel-button"
              (click)="closeEditMode()">
        <span class="cancel-button-label">Cancel</span>
      </button>
    </div>
  </app-edit-profile>
</div>

<div *ngIf="wrapper.state === state.PASSWORD && !error">
  <app-change-password [changePassword]= "changePassword">
    <div class="button-wrapper">
      <button id="userInfoForm_changeButton"
              class="save-button"
              (click)="savePassword()"
              mat-raised-button color="warn">
        <span class="save-button-label">Change</span>
      </button>

      <button id="userInfoForm_cancelButton"
              class="cancel-button"
              (click)="closePasswordMode()">
        <span class="cancel-button-label">Cancel</span>
      </button>
    </div>
  </app-change-password>
</div>
