<nav class="navbar-custom navbar-expand-lg d-flex">
  <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand ml-lg-5" href="">Ticketline</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/message" routerLinkActive="active">Message</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-3  align-items-center " style="padding-right: 40px;">
      <li><a class="nav-link font-weight-lighter" href="/events" routerLink="/events">Events</a></li>
      <li class="divider"></li>
      <li><a class="nav-link font-weight-lighter" href="/events" routerLink="/news">News</a></li>
      <li class="divider"></li>
      <li><a class="nav-link font-weight-lighter" href="/events" routerLink="/merch-shop">Merch</a></li>
      <li class="divider"></li>
      <li><a class="nav-link font-weight-lighter" href="/events" routerLink="/faq">FAQ</a></li>
    </ul>
    <div style="padding-right: 50px;">
      <button class="btn default font-weight-bolder" routerLink="/login" routerLinkActive="active" style="font-size: 20px;" >Login</button>

    </div>
  </div>
</nav>
