<div class="table-container all-height" #table>
  <div class="flex">
    <mat-form-field class="input-wrapper">
      <mat-label>Search</mat-label>
      <input matInput
             name="searchUser"
             (keyup)="searchForAllUsers($event)">
    </mat-form-field>
  </div>
<div class="table">
  <mat-table #table [dataSource]="dataSource" matSort>

      <!--USERCODE-->
      <ng-container matColumnDef="userCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User Code</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="cell-padding">
            {{element?.userCode}}
          </div>
        </mat-cell>
      </ng-container>

      <!--FIRST NAME-->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="cell-padding">
            {{element?.firstName}}
          </div>
        </mat-cell>
      </ng-container>

      <!--LAST NAME-->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="cell-padding">
           {{element?.lastName}}
          </div>
        </mat-cell>
      </ng-container>

      <!--EMAIL-->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="cell-padding">
            {{element?.email}}
          </div>
        </mat-cell>
      </ng-container>

      <!--PASSWORD RESET-->
      <ng-container matColumnDef="password">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="cell-padding">
            <button mat-raised-button color = "primary">Password Reset</button>
          </div>
        </mat-cell>
      </ng-container>

    <!--BLOCK-->
    <ng-container matColumnDef="block">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="cell-padding">
          <button mat-raised-button color = "warn">Block</button>
        </div>
      </mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row;
             columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
</div>
