<app-header></app-header>
<div class="container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <span class="anchor" id="formLogin"></span>
      <div class="card main-body">
        <app-artist *ngIf="searchShared.searchEntity === 'Artist'"></app-artist>
        <app-location *ngIf="searchShared.searchEntity === 'Location'"></app-location>
        <app-event *ngIf="searchShared.searchEntity === 'Event'"></app-event>
        <app-show *ngIf="searchShared.searchEntity === 'Show'"></app-show>
      </div>
    </div>
  </div>
</div>

