<app-header></app-header>
<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <span class="anchor" id="formLogin"></span>
      <div class="card main-body">
        <app-artist *ngIf="searchShared.searchEntity === searchEntity.ARTIST"></app-artist>
        <app-location *ngIf="searchShared.searchEntity === searchEntity.LOCATION"></app-location>
        <app-event *ngIf="searchShared.searchEntity === searchEntity.EVENT"></app-event>
      </div>
    </div>
  </div>
</div>

