<div class="container">
  <!-- page title for bought tickets -->
  <div *ngIf="!(tickets[0].reserved)" class="page-title row align-items-center">
    Danke für ihren Einkauf
    <i class="fas fa-check-circle ml-lg-5"></i>
  </div>
  <!-- page title for reserved tickets -->
  <div *ngIf="tickets[0].reserved" class="page-title row align-items-center">
    Danke für ihre Reservierung
    <i class="fas fa-check-circle ml-lg-5"></i>
  </div>
  <!-- details to Event and ticket -->
  <div class="container margin-left" >
    <div class="page-subtitle">Ihr Ticket:</div>
    <div class="margin-left" >
      <div>
      <div class="row">
        <h5 class="element-title">Veranstaltung: </h5>
        <p>{{event.name}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Künstler(in): </h5>
        <div *ngFor="let artist of event.artists">
          <p>{{artist.firstName}} {{artist.lastName}}</p>
        </div>
      </div>
      <div class="row">
        <h5 class="element-title">Aufführungszeitpunkt: </h5>
        <p>{{formatDate(show.startsAt)}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Veranstaltungsort: </h5>
        <p>{{show.eventLocation.name}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Stadt:</h5>
        <p>{{show.eventLocation.city}}</p>
      </div>
      <div class="row">
        <h5 class="element-title">Adresse:</h5>
        <p>{{show.eventLocation.street}}, {{show.eventLocation.plz}} {{show.eventLocation.city}}, {{show.eventLocation.country}}</p>
      </div>
      <div class="row" *ngIf="this.tickets">
        <h5 class="element-title">Sitzplätze:</h5>
        <div>
          <p *ngFor="let ticket of tickets">Sektor {{getSectionNameById(this.ticket.seat.sectionId)}}, Reihe {{this.ticket.seat.seatRow}}, Platz {{this.ticket.seat.seatColumn}}</p>
        </div>
      </div>
      </div>

      <div *ngIf="tickets[0].reserved">
        <button class="download-button row align-items-center" routerLink="/my-profile/my-tickets">
          <div class="col button-font">
            <i class="fas fa-arrow-alt-circle-right"></i>
            Meine Buchungen
          </div>
        </button>
      </div>

      <div *ngIf="!(tickets[0].reserved)">
        <button class="download-button row align-items-center" routerLink="/my-profile/my-invoices">
          <div class="col button-font">
            <i class="fas fa-arrow-alt-circle-right"></i>
            Meine Rechnungen
          </div>
        </button>
      </div>
      <button class="homepage-button row align-items-center" routerLink="/home"><div class="col button-font">Zurück zur Startseite</div></button>
    </div>
  </div>

</div>
