:host {
  display: block;
}

.event-wrapper {
  margin-left: 14.8%;
  margin-right: 3%;
}

img {
  vertical-align: baseline;
}

.event-line {
  align-items: center;
  border-bottom: 1px solid #888888;
}

.bread-crumps {
  font-family: SansSerif, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #000000;
}

.opacity {
  opacity: 0.5;
}

.link {
  cursor: pointer;
  border: none;
}

.event-padding {
  padding-left: 8px;
}

.center-block {
  width: 480px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 110px;
}

.button-wrapper {
  padding-top: 50px;
}

.event-block-wrapper {
  background: white;
  border: none;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.event-block {
  padding-left: 8px;
  font-family: Verdana;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ff1f20;
}

.buttons-wrapper {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}


button {
  outline: none;
  cursor: pointer;
}

.text-disabled {
  color: #c1c1c1;
}
