ol.carousel-indicators {
  position: absolute;
  bottom: 0px;
  margin: 0;
  left: 0;
  right: 0;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #444444;
}

.carousel-indicators li:not(:last-child) {
  margin-right: 20px;
}

.carousel-button-left {
  left: -50px;
}

.carousel-button-right {
  right: -50px;
}

.carousel-button-left,
.carousel-button-right {
  width: 130px;
  z-index: 112;
  transition: .2s;
  height: 50px;
  margin-top: 230px;
}

.carousel-button-left {
  padding-right: 25px;
}

.carousel-button-right {
  padding-left: 25px;
}

.carousel-item {
  padding: 30px 50px;
}

.carousel-visual-button {
  width: 48px;
  height: 48px;
  background: black;
  color: white;
  border-radius: 10px;
}

.card-body {
  margin: 0px;
  border-radius: 0px 0px 10px 10px;
  border-width: 10px;
  opacity: 1;
}

.card-body,
.card {
  background-color: #202020;
}


.card {
  border-radius: 10px 10px 10px 10px;
  transition: .2s;
  opacity: 1;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-img-top {
  opacity: 1;
  filter: brightness(110%) contrast(110%);
}
.card:hover .card-body {
  filter: contrast(110%);
  opacity: 1;
}
.card:hover .top-left {
  display: block;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover
{
  transform: scale(1.1);
  z-index: 111;
}

.image-crop-big {
  object-fit: cover; /* scale the image */
  object-position: center; /* Center the image within the element */
  height: 325px;
  width: 600px;
}
.image-crop-small {
  object-fit: cover; /* scale the image */
  object-position: center; /* Center the image within the element */
  height: 325px;
  width: 300px;
}

.card-img-top {
  opacity: 0.95;
  border-radius: 10px 10px 0px 0px;
}

.event-button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 0px;
}

.event-button:hover {
  background: black;
}gr

.title-button {
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  transition: all .2s ease-in-out;
  outline: transparent;
}

.title-button:hover {
  cursor: pointer;
  color: black;
}

.title-headline {
  transition: all .2s ease-in-out;
  margin: 0px;
  outline: transparent;
}

.title-button:hover .title-headline {
  padding-left: 50px;
}

.title-button:hover .title-hover {
  transition: all 0.2s ease-in-out;
  visibility: visible;
  opacity: 1;
}

.title-caret {
  margin-top: 5px;
  padding-left: 20px;
  font-size: 40px;
}

.event-button-font {
  font-size: 25px;
  font-weight: bold;
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif
}

.card-title-font {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif
}


.extra-pad {
  padding-top: 10px
}

.card-title {
  margin-bottom: 0px;
}

.card-title-font {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 40px; /* fallback */
  height: 40px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 28px;
  font-weight: bold;
  color: white;
  padding-bottom: 8px;
}
