.center-block {
  max-width: 750px;
  margin: 0 125px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.flex {
  display: flex;
  width: 100%;
}

.info-wrapper {
  display: flex;
  align-items: flex-end;
  border-top: 1px solid #efefef;
  cursor: pointer;
  padding-bottom: 15px;
}

.info {
  padding-left: 10px;
}

.info-label {
  font-family: SansSerif, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #888888;
}
.info-field {
  font-family: SansSerif, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}

.bottom-button-wrapper {
  top: 841px;
  left: 431px;
  width: 209px;
  height: 50px;
}


.my-custom-scrollbar {
  position: relative;
  max-width: 100%;
  height: 550px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.text-one {
  text-align: left;
  letter-spacing: 0px;
  color: #858585;
  opacity: 1;
  font-style: italic;
}
