<div *ngIf="!invoice">
  <div class="container">
    <div class="row" style="border-bottom: 2px solid #efefef; z-index: 0;">
      <h1 class="page-title" style="white-space: nowrap; padding-top: 50px; padding-left: 50px; padding-bottom: 26px; margin-bottom: 0px">Meine Buchungen</h1>
    </div>
    <p *ngIf="tickets.length === 0" style="font-size: 20px; padding-top: 40px; text-align: center">Es konnten keine Buchungen gefunden werden.</p>
    <div class="row" *ngIf="tickets" style="padding-left: 50px; padding-right: 50px">
      <div class="table-wrapper-scroll-y my-custom-scrollbar" style="width: 100%">
        <table class="table table-responsive-lg table-hover mb-0">
          <tbody>
            <tr *ngFor="let ticket1 of tickets">
              <div class="container pt-3 pb-3" style="border-bottom: 1px solid #dee2e6">
                <div class="row">
                  <div class="col-8" style="padding-top: 12px" >
                    <div style="font-size: 18px">{{ticket1.showTime | date:'MMM d, y, h:mm a' }}, {{ ticket1.eventName }}</div>
                    <a class="text-one" *ngIf="ticket1.purchased"> gekauft am: {{ticket1.purchaseDate | date: 'MMM d, y, h:mm a'}} </a>
                    <a class="text-one" *ngIf="ticket1.reserved"> reserviert am: {{ticket1.purchaseDate | date: 'MMM d, y, h:mm a'}} </a>
                  </div>
                  <div class="mx-auto">
                    <button type="button" class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px"  (click)="showInvoice(ticket1)">
                      Anzeigen
                    </button>

                    <!-- Modal (Pop up when clicking purchase) -->
                    <div class="modal fade" id="purchase-modal" role="dialog" aria-labelledby="purchase-modal-label" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="purchase-modal-label">
                              Bist du sicher, dass du diese reservierte Buchung kaufen möchtest? </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn-secondary btn" data-dismiss="modal">Nein</button>
                            <button type="button" class="btn-primary btn" data-dismiss="modal" > Ja
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf= "tickets === undefined" style="padding-left: 50px; padding-right: 50px; padding-top: 20px">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<div *ngIf="invoice">
  <app-my-invoice [ticket] = "selectedTicket">
      <button type="button" class="btn btn-outline-dark" style="white-space: nowrap; border-radius: 10px; text-align: center;" (click)="invoice=false;">Zurück</button>
  </app-my-invoice>
</div>
