<app-header></app-header>
<div class="container-fluid justify-content-center" style="padding-left: 5%; padding-right: 5%;">
  <div class="row">
    <div class="mx-auto" style="max-width: 1320px; width: 100%;">
      <span class="anchor" id="formLogin"></span>
      <div class="card main-body">
        <div class="card-header" >
          <div class="container" style="margin: 0; max-width: 1320px">
            <div class="row header-row">
                <h1 class="mb-0 ml-3 page-title" style="padding-left: 20px">Veranstaltungen mit <i>{{artistName}}</i></h1>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-error-notification *ngIf="error" [error]="error"></app-error-notification>
          <div *ngIf="!error && currentPage">
            <div *ngIf="currentPage.length > 0">
              <div *ngFor="let e of currentPage" style="margin-top: -5px;">
                <div class="row" style="margin-top: 20px; height: 220px; box-shadow: 0px 3px 6px #00000029;">
                  <div class="event-block">
                    <div class="row event-row">
                      <div class="col-4">
                        <img src="{{e.photo}}" class="img-fluid event-image">
                      </div>
                      <div class="col-xl-5 col-lg-4 col-md-4 col-sm-3">
                        <div class="container" style="margin-top: 15px; height: 170px;">
                          <div class="row" style="font-size: 18px; color: #3D3D3D; font-weight: bold">
                            {{e.startsAt | date}} - {{e.endsAt | date}}
                          </div>
                          <div class="row" style="font-size: 30px; font-weight: bold; padding-top: 25px; color: #1A1A1A">
                            <a class="prevent-overflow-inline" routerLink="/events/{{e.eventCode}}" style="color: #1A1A1A" style="padding-top: 5px; height: 30px">{{e.name}}</a>
                          </div>
                          <div class="row" style="font-size: 20px; padding-top: 30px;">
                            <div class="event-description-font">
                              {{e.description}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 pr-5">
                        <div class="container event-price-container" style="margin-top: 25px; border-left: 1px solid #707070;">
                          <div class="row">
                            <div class="container">
                              <div class="row justify-content-start">
                                <a style="font-size: 25px; font-weight: 500">Tickets ab</a><br>
                              </div>
                              <div class="row pl-1 justify-content-start" style="margin-top: 25px;">
                                <a style="font-size: 33px; font-weight: bolder">€ {{e.startPrice}},-</a>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-end" style="margin-top: 20px;">
                            <button routerLink="/events/{{e.eventCode}}" class="btn default artist-button align-middle" style="margin-top: 30px;">
                              Zum Angebot
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="previousPage || nextPage">
                <nav class="search-navigation">
                  <ul class="pagination">
                    <li class="page-item" *ngIf="previousPage.length !== 0 && currentPageIndex > 0" style="margin-right: auto"> <!-- *ngIf="previousPage" -->
                      <a class="page-link" (click)="loadPreviousPage()">
                        <span aria-hidden="true">&laquo; Zurück</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item" *ngIf="nextPage.length !== 0" style="margin-left: auto"> <!-- *ngIf="nextPage" -->
                      <a class="page-link" (click)="loadNextPage()">
                        <span aria-hidden="true">Weiter &raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <p *ngIf="currentPage.length == 0" style="font-size: 20px; padding-top: 40px; text-align: center">Es konnten keine KünstlerInnen mit diesen Kriterien gefunden werden.</p>
          </div>
          <app-spinner *ngIf="!error && events === undefined">
          </app-spinner>
        </div>
      </div>
    </div>
  </div>
</div>

