.artist-block {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
}

.artist-button {
  float: right;
  border: 0;
  width: 160px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 160px) {
  .event-price-container {
    padding-left: 40px;
    padding-right: 60px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 159px) {
  .event-price-container {
    padding-left: 30px;
  }
}

.artist-button:hover {
  color: #FBFBFB;
}

.artist-name {
  font-size: 25px;
}

.artist-row {
  height: 100%;
}

.advanced-search {
  text-align: right;
  margin-top: 5px;
  font-size: 18px;
}

a {
  color: #3D3D3D;
}

a:hover {
  color: #3D3D3D;
}

.event-row {
  height: 100%;
}

.event-image {
  object-fit: cover; /* scale the image */
  object-position: center; /* Center the image within the element */
  max-height: 220px;
  max-width: 350px;
  height: 100%;
  width: 100%;
}

.event-block {
  width: 100%;
}


/* Class for preventing text overflow for event description */
.event-description-font {
  font-size: 20px;
  color: black;
  font-family: Segue UI, Roboto, "Helvetica Neue", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 30px; /* fallback */
  height: 60px; /* fallback */
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-row {
  padding-top: 18px;
}

.page-title {
  height: 40px;
  width: 100%;
}

.search-navigation {
  width: 100%;
  margin-top: 25px;
}

.page-link{
  font-size: 17px;
  width: auto;
}
